<div class="modal fade" id="modalCampaign201605" tabindex="99" role="dialog" style="z-index: 9000;">
    <div class="modal-dialog modal-dialog-result">
        <div class="modal-content">
            <button id="trophy_close" type="button" class="close_trophy close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="image-area">
                    <img class="img-responsive hidden-xs" src="/images/banner/201606/monthly_modal_head_pc.png" alt="スクールTVリニューアル記念 スクールTV Plusのプランが無料で楽しめます！ キャンペーン期間 6月15日まで">
                    <img class="img-responsive center-block visible-xs" src="/images/banner/201606/monthly_modal_head_sp.png" alt="">
                    <img class="mouse" src="/images/banner/201606/monthly_modal_mouse.png" alt="">
                </div>
                <div class="text-area">
                    <div class="bg-white">
                        <div class="lead-text">
                            <p class="large text-center">スクールTV Plus（プラス）とは</p>
                            <ul>
                                <li>動画視聴中に、動画の中で講師が問題を出題するタイミングでドリルが表示されます。</li>
                                <li>動画と連動して表示される問題に、ゲーム感覚で答えながら楽しくレッスンができます。</li>
                            </ul>
                            たくさんの方に「もっと分かる」を体験していただきたく、リニューアル記念として、<br class="hidden-xs hidden-sm">
                            <span class="red large">スクールTV Plus（月額300円）</span>
                            の機能を
                            <span class="red large">2016年6月30日まで無料</span><br class="hidden-xs hidden-sm">
                            でご利用いただけるキャンペーンを実施いたします。
                        </div>
                        <p class="exp-title">＜キャンペーン対象＞</p>
                        <p class="exp-text">2016年5月31日までにスクールTVにアカウント登録をされている方</p>
                        <p class="exp-title">＜キャンペーン内容＞</p>
                        <p class="exp-text">スクールTVにアカウント登録後、通常の「スクールTV Plus無料体験期間」（30日間）を過ぎても、スクールTV Plus（月額300円）の機能を継続して無料でお楽しみいただけます。</p>
                        <p class="exp-title">＜キャンペーン期間＞</p>
                        <p class="exp-text">2016年6月30日まで<br>
                            <small>※本キャンペーン終了後、「スクールTV Plus無料体験期間」は通常の30日間となります。</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->