<div class="modal fade" id="ConfirmGroupteam" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button id="cancel-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                <div class="modal-title">
                    参加できるチ〡ムは<br>5つまでです
                </div>
            </div>
            <div class="modal-body text-center">
                <p style="font-size: 16px;">
                    所属しているチ〡ムから退会すると、<br> 新しいチ〡ムに入る事ができます
                </p>
            </div>
            <div class="modal-footer modal-footer-btngroup text-center">
                <a href="/play/team" type="button" class="btn btn-gray" data-dismiss="modal">閉じる</a>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->