<div class="modal fade" id="Quest-confirm_start" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button id="cancel-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                <div class="modal-title">
                    &nbsp;
                </div>
            </div>
            <div class="modal-body text-center">
                <p style="font-size: 16px;">このクエストをはじめますか？</p>
            </div>
            <div class="modal-footer modal-footer-btngroup text-center">
                <button type="button" class="btn btn-gray" data-dismiss="modal">キャンセル</button>
                <button type="button" id="modal-start_quest" class="btn btn-green">はじめる</button>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->