<div class="modal fade" id="ConfirmDuplicateStage" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button id="cancel-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                <div class="modal-title">
                    このステージは選べません
                </div>
            </div>
            <div class="modal-body text-center">
                <p style="font-size: 16px;">
                    1回のチームバトルで<br>
                    同じステージを選択できるのは<br>
                    1回までです<br>
                </p>
                <p style="font-size: 16px;">
                    違うステージを選択しよう<br>
                </p>
            </div>
            <div class="modal-footer modal-footer-btngroup text-center">
                <a href="/play/select_stage" type="button" class="btn btn-gray" data-dismiss="modal">閉じる</a>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->