<div class="modal fade in" id="modalMessGroup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    メンバ〡一覧
                </div>
                <div class="modal-basic-title">
                    {チ〡ム名}{家族グル〡プ名}
                </div>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <li>
                        <p class="thumb"><img src="/images/avatar/2.png" alt="avatar" class="img-responsive"></p>
                        <p class="name">ゆうじ</p>
                    </li>
                    <li>
                        <p class="thumb"><img src="/images/avatar/2.png" alt="avatar" class="img-responsive"></p>
                        <p class="name ">ゆうじ</p>
                    </li>
                    <li>
                        <p class="thumb"><img src="/images/avatar/2.png" alt="avatar" class="img-responsive"></p>
                        <p class="name ">ゆうじ</p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-green text-center" data-dismiss="modal">メッセ〡ジへ</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->