<div class="modal fade" id="modalDrill-interest" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                <div class="modal-title">
                    レッスンを⾒ながらつぶやこう！
                </div>
                <div class="modal-basic-title">
                    レッスンを見ながら、おもったコトを <br>
                    ラビボタンでつぶやいてみよう！
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-body-interest-item">
                    <div class="image-left">
                        <img class="img-responsive" src="/images/modal/modal_interest-left.png" alt="ラビボタン！（ユーザー名)の気持ちを伝える「ラビボタン」は全部で4つだよ！レッスン中何度でもつぶやけるよ！">
                    </div>
                    <div class="image-right with-text">
                        <img class="img-responsive" src="/images/modal/modal_interest-right.png" alt="ラビボタン！（ユーザー名)の気持ちを伝える「ラビボタン」は全部で4つだよ！レッスン中何度でもつぶやけるよ！">
                        <div class="text-center">
                            <p class="c-brown-border bold mb0 mt20">
                                <!--{if empty($current_user)}-->
                                <!--{$current_user.nickname|escape|default:'ニックネームなし'}-->さん
                                <!--{else}-->
                                あなた
                                <!--{/if}-->
                                の気持ちを伝える「ラビボタン」は全部で4つだよ！</p>
                            <p class="c-pink bold">レッスン中何度でもつぶやけるよ！</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-green" data-dismiss="modal">レッスンスタート！</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->