<!-- Modal lead to Register -->
<div class="modal fade" id="modalLeadToRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                <h4 class="modal-title">会員登録して動画の続きを見よう</h4>
                <div class="modal-basic-title">
                    登録すると続きの動画を再生したり教科書を設定して学校の授業にそった動画を見ることができます
                </div>
            </div>
            <div class="modal-body">
                <div class="first">
                    <p class="title">動画2本まで</p>
                    <p>どなたでも見ることができます</p>
                </div>
                <div>
                    <p class="title">動画3本目から</p>
                    <p>無料会員登録もしくはログインすると見ることができます</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <a href="/login" class="btn btn-gray">すでに会員の方はログイン</a>
                    <a href="/register" class="btn btn-green">無料会員登録</a>
                </div>
            </div>
        </div>
    </div>
</div>