<div class="modal fade" id="limitExchangePoint" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    ポイント交換は上限に達しています
                </div>
            </div>
            <div class="modal-body text-center">
                <p style="font-size: 16px;">1日の交換上限回数は10回です</p>
            </div>
            <div class="modal-footer modal-footer-btngroup text-center">
                <button class="btn btn-green" data-dismiss="modal">戻る</button>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
