<div class="modal fade" id="modalStartBattle" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button id="cancel-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                <div class="modal-title">
                    チームバトル<br>
                    スタートしました
                </div>
            </div>
            <div class="modal-body text-center">
                <span class="arow">VS</span>
                <ul class="list-inline">
                    <li id="group-name-modal">
                        チーム名チーム名 <br>チーム名
                    </li>
                    <li id="target-group-name-modal">
                        チーム名チーム名 <br>チーム名
                    </li>
                </ul>
                <div class="time-battle">
                    <p>￼バトル終了日時</p>
                    <h3 id="begin-time-battle">2016.12.12 12:12</h3>
                </div>
            </div>
            <div class="modal-footer modal-footer-btngroup text-center">
                <a href="/play/team/battle/opponent/" id="link-to-room" class="btn btn-green">チームバトルルームへ</a>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->