<!-- Trophy Detail  -->
<div class="modal fade" id="modal-trophy-detail" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                <div id="trophy_title" class="modal-title">
                    ハスコア記録イ
                </div>
            </div>
            <div class="modal-body">
                <div><img id="trophy_image" class="center-block trophy-img img-responsive" src="/image/show/badge_design1.png"/></div>
                <div id="trophy_description" class="text-center h3">
                    中1〜3 重要英単語100 で獲得
                </div>
            </div>
        </div>
    </div>
</div>