<div class="modal fade" id="modalDrill-tut" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                <div class="modal-ranking-title">
                    <div class="modal-tutorial-title-text">Letʼs チャレンジ！</div>
                </div>
            </div>
            <div class="modal-body modal-body-tut">
                <div class="modal-body-tut-item">
                    <img class="img-responsive" src="/images/modal/modal_tut.png" alt="制限時間内に答えよう！早ければ早いほど⾼得点！">
                </div>
            </div>
            <div class="modal-footer modal-footer-tut">
                <button type="button" class="btn btn-green" data-dismiss="modal">問題にチャレンジ！</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->