<div class="ranking-page">
    <div class="bg-triangle-yellow-light">
        <h1 class="title-triangle-yellow-bg">チーム総合ランキング <br></h1>

        <div class="container">
            <div class="main-content">
                <h3 class="desc text-center">今一番強いチームはここだ!</h3>
                <div class="content-frame yellow message-frame">
                    <ul class="ranking-list list-stage list-unstyled">
                        <li class="item no-auto" data-number="1">
                            <a class="item-content" href="/dashboard/24043">
                                <div class="description p-t-3">
                                    <p class="score">チーム名チーム名</p>
                                </div>

                                <div class="box-score">
                                    <p class="txt">ハイスコア</p>
                                    <p class="score">55555555 <span class="arow">点</span></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="btn-area text-center">
                        <button type="button" class="btn btn-yellow">
                            もっと見る
                        <div class="ripple-container"></div></button>
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <a href="/play/select_quest" class="btn btn-outline back-link">クエスト選択へ戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>
