.news-detail-page {
  .news-title {
    @include clearfix;
    .h2 {
      font-size: 24px;
      color: #2d3940;
      font-weight: 700;
      border-bottom: 1px solid #c6ccd2;
      padding-bottom: 10px;
    }
    .date-time {
      font-size: 14px;
      color: #2d3940;
      float: right;
    }
  }
  .news-content {
    color: #2d3940;
    font-size: 16px;
    margin-bottom: 50px;
    margin-top: 20px;
  }
}