# Created by .ignore support plugin (hsz.mobi)
apps/*/application/config/database.php
apps/*/application/config/appcofing.php
apps/*/application/config/development/
apps/*/application/logs/*.log
apps/*/application/logs/*.php
apps/*/application/tmp/templates_c/*.php

tools/application/config/database.php
tools/application/config/appcofing.php
tools/application/config/development/
tools/application/tmp/templates_c/*.php
tools/application/logs/**.log
tools/application/logs/**.php

shared/config/appconfig.php
shared/config/database.php
shared/config/development/

apps/*/web_tools/node_modules/
apps/*/web_tools/npm-debug.log
apps/*/public_html/third_party/bower_components/

apps/web_user/public_html/drill_images/*


misc/schema/enews.mwb.bak

.settings
.project
.idea
**.DS_Store
**/*/*.mwb.bak
**.svn
/.idea
