<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <div class="container text-center">
                <p class="h1">家族グループと子どもの管理</p>
                <p class="caption">
                    家族グループへの招待などの管理ができます<br/>
                    家族グループへの招待や子どもアカウントの削除ができます
                </p>
            </div>
        </div>
        <div class="main-content">
            <div class="content-frame">
                <div class="bg-triangle-blue head text-center">
                    <span class="h4">選択中のグループ: <!--{$group_name|escape|default:''}--></span>
                </div>
                <!--{if $maximum != TRUE}-->
                <div class="form-group mt0">
                    <p class="h4 bold text-center">
                        子どもを家族グループに招待する
                    </p>
                    <div class="col-sm-6 col-sm-push-3">
                        <div class="row">
                            <a href="/group_setting/<!--{$group_id|escape|default:''}-->/add_student/" class="btn btn-green btn-block">子どもを招待</a>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="form-group">
                    <p class="h4 bold text-center">
                        他の保護者を家族グループに招待する
                    </p>
                    <div class="col-sm-6 col-sm-push-3">
                        <div class="row">
                            <a href="/group_setting/<!--{$group_id|escape|default:''}-->/recommend_student/" class="btn btn-green btn-block">他の保護者を招待</a>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <!--{/if}-->

                <!--{if $not_delete != TRUE}-->
                <div class="form-group">
                    <p class="h4 bold text-center">
                        紐付いている子どもアカウントを削除
                    </p>
                    <div class="col-sm-6 col-sm-push-3">
                        <div class="row">
                            <a href="/group_setting/<!--{$group_id|escape|default:''}-->/delete_student/" class="btn btn-green btn-block">子どもアカウントを削除</a>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <!--{/if}-->
    
                <div class="form-group">
                    <p class="h4 bold text-center">
                        グループ名を編集する
                    </p>
                    <div class="col-sm-6 col-sm-push-3">
                        <div class="row">
                            <a href="/group_setting/<!--{$group_id|escape|default:''}-->/update_name" class="btn btn-green btn-block">グループ名を編集</a>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-push-3">
                        <div class="row">
                            <a href="/group_setting/family" class="btn btn-gray btn-block">家族グループ選択に戻る</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>