<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"><i class="icon-logout"></i> ログアウト</h3>
<!-- END PAGE TITLE-->

<!-- END PAGE HEADER-->
<form method="post" id="form" method="post">
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                    <p>ログアウトしますか？</p>
                                    <button type="submit" class="btn green">ログアウト</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>





