<!DOCTYPE html>
<!--[if IE 8]>
<html lang="ja" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="ja" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="ja">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <!--{include file='layouts/html_head.html'}-->
</head>
<!-- END HEAD -->
<body class="login">

<!-- BEGIN CONTAINER -->
<!--{content_yield name='main'}-->
<!-- END CONTAINER -->

<!-- BEGIN SCRIPTS -->
<!--{include file='layouts/scripts.html'}-->
<!-- END SCRIPTS -->

</body>
</html>