こんにちは。スクールTVです。


━━━━━━━━━━━━━━━━━━━━━━
お子さま<!--{$name}-->さんより「おねだり」が届きました。
━━━━━━━━━━━━━━━━━━━━━━


下記URLより追加のコインを購入することができます。
━━━━━━━━━━━━━━━━━━━━━━
コインを購入
<!--{$coin_link}-->
━━━━━━━━━━━━━━━━━━━━━━


「おねだり」とは？
お子さまがドリルを入手する際に、
・「コイン」が足りず購入手できなかった
・欲しいドリルがあるので「コイン」を購入してもらいたい
といった場合に、保護者の方に通知が送信されます
保護者の方がコインを購入すると、お子さまが英単語などのドリルの入手に利用することができます。

「ドリル」とは？
英単語などをドリル形式で学ぶことができます。
ドリルごとにスコアや制限時間が設定されており、ゲーム感覚で楽しく学ぶことができます。
ドリルは、保護者の方が購入したコインを使って、お子さまが入手することができます。


━━━━━━━━━━━━━━━━━━━━━━
ドリルを見る
<!--{$station_link}-->
━━━━━━━━━━━━━━━━━━━━━━
引き続きスクールTVをお楽しみください。


≪注意事項≫
※このメールに心あたりがない場合、
どなたかがあなたのメールアドレスを誤って入力されたものと思われます。
お手数をおかけしますが、このメールを破棄してくださいますよう、お願いいたします。

※メール文章中のURLをクリックしてもページをご覧いただけない場合は、
URLをコピーして、ブラウザのアドレス部分にペースト（貼付け）するか、URLを直接入力してください。
（メーラーの設定によってクリックのみではご覧いただけない場合があります。）

※このメールアドレスは配信専用となっております。
本メールに返信していただきましても、ご質問・ご依頼などには
お答えできませんので、あらかじめご了承ください。

<!--{* FOOTER *}-->
<!--{include file="<!--{$smarty.const.SHAREDPATH}-->views/mails/footer.html"}-->