こんにちは。スクールTVです。

━━━━━━━━━━━━━━━━━━━━━━
「スクールTV Plus」の決済ができませんでした。
━━━━━━━━━━━━━━━━━━━━━━

（「スクールTV Plus」は毎月26日に、ご登録いただいた決済内容で自動決済をいたしております）

（保護者の方へ）
ご登録されている決済方法などをご確認の上、「スクールTV Plus」のご契約内容確認画面から再度決済を行って下さい。
ご入金の確認ができない場合、「スクールTV Plus」のご利用ができなくなりますのでご注意下さい。

決済に失敗したアカウント
━━━━━━━━━━━━━━━━━━━━━━
ID：<!--{$user_id|default:""}--> （<!--{$user_name|default:""}-->）
━━━━━━━━━━━━━━━━━━━━━━

▽保護者の方へ
こちらのURL再度決済を行ってください（保護者の方のみ決済ができます）
━━━━━━━━━━━━━━━━━━━━━━
<!--{$url|default:""}-->
━━━━━━━━━━━━━━━━━━━━━━

引き続きスクールTVをお楽しみください。

≪注意事項≫
※このメールに心あたりがない場合、
どなたかがあなたのメールアドレスを誤って入力されたものと思われます。
お手数をおかけしますが、このメールを破棄してくださいますよう、お願いいたします。

※メール文章中のURLをクリックしてもページをご覧いただけない場合は、
URLをコピーして、ブラウザのアドレス部分にペースト（貼付け）するか、URLを直接入力してください。
（メーラーの設定によってクリックのみではご覧いただけない場合があります。）

※このメールアドレスは配信専用となっております。
本メールに返信していただきましても、ご質問・ご依頼などにはお答えできませんので、あらかじめご了承ください。

<!--{* FOOTER *}-->
<!--{include file="<!--{$smarty.const.SHAREDPATH}-->views/mails/footer.html"}-->