こんにちは。スクールTVです。

━━━━━━━━━━━━━━━━━━━━━━
「スクールTV Plus」の解約を受け付けました

スクールTV Plusを解約した後でも、動画の視聴は行うことができます。
引き続きスクールTVをお楽しみください。
━━━━━━━━━━━━━━━━━━━━━━
ID: <!--{$user_id|default:""}--> （<!--{$user_name|default:""}-->）
━━━━━━━━━━━━━━━━━━━━━━

≪注意事項≫
※このメールに心あたりがない場合、
どなたかがあなたのメールアドレスを誤って入力されたものと思われます。
お手数をおかけしますが、このメールを破棄してくださいますよう、お願いいたします。

※このメールアドレスは配信専用となっております。
本メールに返信していただきましても、ご質問・ご依頼などには
お答えできませんので、あらかじめご了承ください。

<!--{* FOOTER *}-->
<!--{include file="<!--{$smarty.const.SHAREDPATH}-->views/mails/footer.html"}-->