こんにちは。スクールTVです。

ご購入いただいたコインの利用期限切れをお知らせいたします。
（コインを購入後、コインを1年間ご利用いただいていなかった方にお送りしております）


利用期限切れのコインについてはこちらです。
━━━━━━━━━━━━━━━━━━━━━━
ID：<!--{$login_id|default:""}-->（<!--{$nickname|default:""}-->）

利用期限切れコイン数：<!--{$current_coin|default:""}-->コイン
━━━━━━━━━━━━━━━━━━━━━━

引き続きスクールTVをお楽しみください。


≪注意事項≫
※このメールに心あたりがない場合、
どなたかがあなたのメールアドレスを誤って入力されたものと思われます。
お手数をおかけしますが、このメールを破棄してくださいますよう、お願いいたします。

※メール文章中のURLをクリックしてもページをご覧いただけない場合は、
URLをコピーして、ブラウザのアドレス部分にペースト（貼付け）するか、URLを直接入力してください。
（メーラーの設定によってクリックのみではご覧いただけない場合があります。）

※このメールアドレスは配信専用となっております。
本メールに返信していただきましても、ご質問・ご依頼などには
お答えできませんので、あらかじめご了承ください。


<!--{* FOOTER *}-->
<!--{include file="<!--{$smarty.const.SHAREDPATH}-->views/mails/footer.html"}-->