こんにちは。スクールTVです。

獲得いただいたラビポイントの有効期限が迫っております。

━━━━━━━━━━━━━━━━━━━━━━
ID：<!--{$login_id|default:""}-->（<!--{$nickname|default:""}-->）

＜有効期限：<!--{$date_expired|default:""}-->＞
<!--{$current_rabipoint|default:""}-->ラビポイント
━━━━━━━━━━━━━━━━━━━━━━

引き続きスクールTVをお楽しみください。


≪注意事項≫
※このメールに心あたりがない場合、
どなたかがあなたのメールアドレスを誤って入力されたものと思われます。
お手数をおかけしますが、このメールを破棄してくださいますよう、お願いいたします。

※メール文章中のURLをクリックしてもページをご覧いただけない場合は、
URLをコピーして、ブラウザのアドレス部分にペースト（貼付け）するか、URLを直接入力してください。
（メーラーの設定によってクリックのみではご覧いただけない場合があります。）

※このメールアドレスは配信専用となっております。
本メールに返信していただきましても、ご質問・ご依頼などには
お答えできませんので、あらかじめご了承ください。


<!--{* FOOTER *}-->
<!--{include file="<!--{$smarty.const.SHAREDPATH}-->views/mails/footer.html"}-->
