こんにちは。スクールTVです。
スクールTVは学校の教科書を動画で学べるオンライン学習サービスです。

<!--{$user_name}-->さんより家族グループ<!--{if !empty($group_name)}-->「<!--{$group_name}-->」<!--{/if}-->へ招待されています。

━━━━━━━━━━━━━━━━━━━━━━
家族グループへ参加
<!--{$invite_url}-->
━━━━━━━━━━━━━━━━━━━━━━
家族グループへ参加すると、お子さまの学習状況が確認できるようになります。

※スクールTVのアカウントをお持ちの方は、上記URLからログインをしてください。
※スクールTVのアカウントをお持ちでない方は、上記URLから新規登録をしてください。

≪注意事項≫
※このメールに心あたりがない場合、
どなたかがあなたのメールアドレスを誤って入力されたものと思われます。
お手数をおかけしますが、このメールを破棄してくださいますよう、お願いいたします。

※メール文章中のURLをクリックしてもページをご覧いただけない場合は、
URLをコピーして、ブラウザのアドレス部分にペースト（貼付け）するか、URLを直接入力してください。
（メーラーの設定によってクリックのみではご覧いただけない場合があります。）

※このメールアドレスは配信専用となっております。
本メールに返信していただきましても、ご質問・ご依頼などには
お答えできませんので、あらかじめご了承ください。

<!--{* FOOTER *}-->
<!--{include file="<!--{$smarty.const.SHAREDPATH}-->views/mails/footer.html"}-->























