こんにちは。スクールTVです。

スクールTVは学校の教科書を動画で学べるオンライン学習サービスです。
<!--{$user_name}-->さんよりチーム「<!--{$group_name}-->」へ招待されています。

━━━━━━━━━━━━━━━━━━━━━━
スクールTVに登録してチームへ参加
<!--{$invite_url}-->
━━━━━━━━━━━━━━━━━━━━━━
URLをクリックして無料会員登録後、チームに参加することができます。

チームとは？
チームに参加すると、友達と一緒に学習することができるようになります。
英単語などのドリルのスコアを競って、友だちと対戦しよう！

※チームに参加できる人数には限りがあります。チームに参加できなかった場合には、他のチームに参加しよう！


≪注意事項≫
※このメールに心あたりがない場合、
どなたかがあなたのメールアドレスを誤って入力されたものと思われます。
お手数をおかけしますが、このメールを破棄してくださいますよう、お願いいたします。

※メール文章中のURLをクリックしてもページをご覧いただけない場合は、
URLをコピーして、ブラウザのアドレス部分にペースト（貼付け）するか、URLを直接入力してください。
（メーラーの設定によってクリックのみではご覧いただけない場合があります。）

※このメールアドレスは配信専用となっております。
本メールに返信していただきましても、ご質問・ご依頼などには
お答えできませんので、あらかじめご了承ください。

<!--{* FOOTER *}-->
<!--{include file="<!--{$smarty.const.SHAREDPATH}-->views/mails/footer.html"}-->