こんにちは。スクールTVです。

コインのご購入ありがとうございました。

ご購入いただいたコインを利用して、お子さまがドリルを入手することができます。


購入された内容はこちらです。

━━━━━━━━━━━━━━━━━━━━━━
ID: <!--{$user_id|default:""}--> <!--{if !empty($user_name)}-->（<!--{$user_name}-->）<!--{/if}-->

購入コイン数：<!--{$coin|default:""}-->コイン
お支払い金額：<!--{$amount|default:""}-->円
お支払い方法：<!--{$payment_type|default:""}-->
━━━━━━━━━━━━━━━━━━━━━━

━━━━━━━━━━━━━━━━━━━━━━
ドリルを見る
<!--{$station_url}-->
━━━━━━━━━━━━━━━━━━━━━━
引き続きスクールTVをお楽しみください。


≪注意事項≫
※このメールに心あたりがない場合、
どなたかがあなたのメールアドレスを誤って入力されたものと思われます。
お手数をおかけしますが、このメールを破棄してくださいますよう、お願いいたします。

※メール文章中のURLをクリックしてもページをご覧いただけない場合は、
URLをコピーして、ブラウザのアドレス部分にペースト（貼付け）するか、URLを直接入力してください。
（メーラーの設定によってクリックのみではご覧いただけない場合があります。）

※このメールアドレスは配信専用となっております。
本メールに返信していただきましても、ご質問・ご依頼などには
お答えできませんので、あらかじめご了承ください。


<!--{* FOOTER *}-->
<!--{include file="<!--{$smarty.const.SHAREDPATH}-->views/mails/footer.html"}-->