いつもスクールTVをご利用いただきありがとうございます。


━━━━━━━━━━━━━━━━━━━━━━
ご登録のメールアドレスにて、パスワードの再設定依頼が行われました
━━━━━━━━━━━━━━━━━━━━━━


パスワードを変更したいIDを確認して、URLよりお進みください。
このメールアドレスには下記のIDが登録されています。
<!--{foreach from=$users item=item}-->

━━━━━━━━━━━━━━━━━━━━━━
ID：<!--{$item.login_id|default:''}--><!--{if !empty($item.nickname)}-->（<!--{$item.nickname}-->）<!--{/if}-->

このIDのパスワードの変更はこちらから
<!--{$reset_password_url|cat:"&id="}--><!--{$item.login_id|default:''}-->

<!--{/foreach}-->
━━━━━━━━━━━━━━━━━━━━━━
変更したいIDのURLをクリックして進むと、パスワードを変更することができます。


≪注意事項≫
※上記URLの有効期間は24時間です。24時間を超えた場合はURLが無効となります。

※このメールに心あたりがない場合、
どなたかがあなたのメールアドレスを誤って入力されたものと思われます。
お手数をおかけしますが、このメールを破棄してくださいますよう、お願いいたします。

※メール文章中のURLをクリックしてもページをご覧いただけない場合は、
URLをコピーして、ブラウザのアドレス部分にペースト（貼付け）するか、URLを直接入力してください。
（メーラーの設定によってクリックのみではご覧いただけない場合があります。）

※このメールアドレスは配信専用となっております。
本メールに返信していただきましても、ご質問・ご依頼などにはお答えできませんので、あらかじめご了承ください。

<!--{* FOOTER *}-->
<!--{include file="<!--{$smarty.const.SHAREDPATH}-->views/mails/footer.html"}-->


























