こんにちは。スクールTVです。
スクールTVは学校の教科書を動画で学べるオンライン学習サービスです。

<!--{$user_name|default:""}-->さんよりスクールTVへ招待されています。

━━━━━━━━━━━━━━━━━━━━━━
スクールTVを見てみる
<!--{$register_url|default:""}-->
━━━━━━━━━━━━━━━━━━━━━━
スクールTVは、パソコンやスマートフォンで学習ができる小学生・中学生向けのサービスです。
これだけ覚えたら大丈夫！というポイントだけをまとめた動画で、先生のお兄さんお姉さんと楽しく学習することができます。
動画と連動したドリルで、どれくらい理解できたかチェックすることもできます。

さっそく学習してみよう！


≪注意事項≫
※このメールに心あたりがない場合、
どなたかがあなたのメールアドレスを誤って入力されたものと思われます。
お手数をおかけしますが、このメールを破棄してくださいますよう、お願いいたします。

※メール文章中のURLをクリックしてもページをご覧いただけない場合は、
URLをコピーして、ブラウザのアドレス部分にペースト（貼付け）するか、URLを直接入力してください。
（メーラーの設定によってクリックのみではご覧いただけない場合があります。）

※このメールアドレスは配信専用となっております。
本メールに返信していただきましても、ご質問・ご依頼などにはお答えできませんので、あらかじめご了承ください。

<!--{* FOOTER *}-->
<!--{include file="<!--{$smarty.const.SHAREDPATH}-->views/mails/footer.html"}-->



























