<!--{$nickname|default:""}-->さんこんにちは。スクールTVです。

退会手続きが完了しました。
━━━━━━━━━━━━━━━━━━━━━━
退会したアカウント
ID：<!--{$user_id|default:""}--><!--{if !empty($nickname)}-->（<!--{$nickname}-->）<!--{/if}-->

━━━━━━━━━━━━━━━━━━━━━━

ご利用ありがとうございました。


≪注意事項≫
※このメールに心あたりがない場合、
どなたかがあなたのメールアドレスを誤って入力されたものと思われます。
お手数をおかけしますが、このメールを破棄してくださいますよう、お願いいたします。

※メール文章中のURLをクリックしてもページをご覧いただけない場合は、
URLをコピーして、ブラウザのアドレス部分にペースト（貼付け）するか、URLを直接入力してください。
（メーラーの設定によってクリックのみではご覧いただけない場合があります。）

※このメールアドレスは配信専用となっております。
本メールに返信していただきましても、ご質問・ご依頼などにはお答えできませんので、あらかじめご了承ください。

<!--{* FOOTER *}-->
<!--{include file="<!--{$smarty.const.SHAREDPATH}-->views/mails/footer.html"}-->