.friend-list {

  a {
    position: relative;
    display: block;
    width: 100%;
    height: 115px;
    padding: 18px 40px 18px 8px;
    background: #fff;
    border-bottom: 1px dashed #b7b7b7;

    &:hover {
      background: #e9f1fc;
      text-decoration: none;
    }
    .item-content{
      border-bottom: none;
      padding: 7px 30px;
      @media (max-width: $screen-xs-max) {
        padding: 15px 5px;
      }
    }
  }
  .content-xs{
    @media (max-width: $screen-xs-max) {
      float: left;
      width: 100%;
      padding: 15px 0;
    }
  }
  .thumb {
    float: left;
    width: 90px;

    img {
      width: 100%;
    }
  }
  .thumb-xs{
    @media (max-width: $screen-xs-max) {
      width: 60px!important;
    }
  }
  .name {
    color: #2d3940;
    font-size: 24px;
    float: left;
    padding: 19px 0 0 50px;
    .text {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .name-xs{
    @media (max-width: $screen-xs-max) {
      padding: 25px !important;
      font-size: 18px!important;
    }
  }
  .padding1{
    padding: 7px 0 0px 50px!important;
  }
  .padding2{
    padding: 18px 0 0px 50px!important;
  }
  .note{
    position: absolute;
    left: 150px;
    bottom: 28px;
    color: #E23258;
    font-size: 18px;
    font-weight: bold;
    z-index: 10;
    @media (max-width: $screen-xs-max) {
      left: 175px;
      font-size: 13px;
      bottom: 18px;
    }
  }
  .el-icons {
    position: absolute;
    top: 42%;
    right: 24px;
    font-size: 24px;
    color: #000;
    margin-top: -10px;


  }

  @media (max-width: $screen-xs-max) {
    a {
      height: 90px;
      padding: 4px 10px 5px 0px;
    }
    .thumb {
      width: 44px;
    }
    .name {
      font-size: 16px;
      padding: 10px 0 8px 30px!important;
    }
    .el-icons {
      right: 0px;
      font-size: 16px;
      margin-top: -8px;
    }
  }
}