<!-- Modal delete confirmation-->
<div id="delete-modal" class="modal fade modal-scroll" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">退会処理</h4>
            </div>
            <form action="/user/delete" method="post">
                <div class="modal-body">
                    <p class="text-center">このユーザーを退会させますか?</br>もとに戻すことはできません</p>
                    <div class="table-scrollable">
                        <table class="table table-hover table-align-middle">
                            <tr>
                                <th width="12%" class="active">ユーザーID</th>
                                <td><!--{$user_detail.id|escape|default:''}--></td>
                            </tr>
                            <tr>
                                <th width="12%" class="active">ログインID</th>
                                <td><!--{$user_detail.login_id|escape|default:''}--></td>
                            </tr>
                            <tr>
                                <th class="active">ニックネーム</th>
                                <td><!--{$user_detail.nickname|escape|default:''}--></td>
                            </tr>
                            <tr>
                                <th class="active">メールアドレス</th>
                                <td><!--{$user_detail.email|escape|default:''}--></td>
                            </tr>
                            <tr>
                                <th class="active">ユーザー種別</th>
                                <td><!--{if $user_detail.primary_type == 'parent'}-->保護者<!--{else}-->子ども<!--{/if}--></td>
                            </tr>
                            <tr>
                                <th class="active">性別</th>
                                <td><!--{if $user_detail.gender == 'male'}-->男<!--{else}-->女<!--{/if}--></td>
                            </tr>
                            <tr>
                                <th class="active">学年</th>
                                <td><!--{$user_detail.current_grade.name|escape|default:'-'}--></td>
                            </tr>
                            <tr>
                                <th class="active">キャンペーンコード</th>
                                <td><!--{$campaign_code|escape|default:'-'}--></td>
                            </tr>
                            <tr>
                                <th class="active">フォルスクラブ紹介コード</th>
                                <td><!--{$promotion_code|escape|default:'-'}--></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <input type="hidden" name="user_id" value="<!--{$user_detail.id|escape|default:''}-->">
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-lg default" >キャンセル</button>
                        <button type="submit" class="btn btn-lg red" >退会</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
