<div class="friend-page friend-add">
    <div class="bg-triangle">
        <div class="container">
            <div class="page-title">
                <p class="h1">友だち追加ナンバーを入力</p>
                <p class="caption">友達追加ナンバーを入力してください</p>
            </div>
            <div class="main-content">
                <div class="content-frame">
                    <div class="form-title text-center clearfix">
                        <p class="h4 bold">
                            友達のナンバーを入力すると友達になることができます
                        </p>
                    </div>
                    <form method="post">
                        <!--{if isset($errmsg)}-->
                        <div class="form-group">
                            <label style="color:red; font-size: 18px; font-weight: bold;" class="col-xs-12 control-label text-center"><!--{$errmsg|escape}--></label>
                        </div>
                        <!--{/if}-->
                        <div class="form-group row">
                            <div class="col-xs-3">
                                <input style="cursor: pointer;" id="number1" maxlength="1" name="number[]" class="btn btn-outline" type="text" value="<!--{$post.0|escape|default:''}-->">
                            </div>
                            <div class="col-xs-3">
                                <input id="number2" maxlength="1" name="number[]" class="btn btn-outline" type="text" value="<!--{$post.1|escape|default:''}-->">
                            </div>
                            <div class="col-xs-3">
                                <input id="number3" maxlength="1" name="number[]" class="btn btn-outline" type="text" value="<!--{$post.2|escape|default:''}-->">
                            </div>
                            <div class="col-xs-3">
                                <input id="number4" maxlength="1" name="number[]" class="btn btn-outline" type="text" value="<!--{$post.3|escape|default:''}-->">
                            </div>
                        </div>
                        <p></p>
                        <!--{*
                        hidden from first release
                        <p class="text-center">チームに参加するにはまずは友達になる必要があります</p>
                        *}-->
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a href="/friend" class="btn btn-gray btn-block">キャンセル</a>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-green btn-block" type="submit">友達に追加</button>
                            </div>
                        </div>

                    </form>

                    <div class="divider dashed"></div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <a class="btn btn-green btn-block" href="/friend/my_number">自分の追加ナンバーを表示</a>
                        </div>
                    </div>


                    <div class="divider"></div>
                    <div class="row">
                        <p class="h4 bold text-center">&lt;&nbsp;相手がスクールTVの会員でないとき&nbsp;&gt;</p>
                        <p class="text-center">下記より会員登録を行ってください</p>
                        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <a class="btn btn-green btn-block" href="/invite">スクールTVに友達を招待する</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--{content_for name="headjs"}-->
<script type="text/javascript">
    (function () {

        $(document).ready(function() {

            if ($("#number1").val() == '') {
                $("#number1").focus();
            } else {
                $("#number4").focus();
                var val_number4 = $("#number4").val();
                $("#number4").val('').val(val_number4);
            }

            $("#number1").on("input", function() {
                if ($("#number1").val() != '') {
                    $("#number2").focus();
                    $("#number2").val('');
                }
            });

            $("#number2").on("input", function() {
                if ($("#number2").val() != '') {
                    $("#number3").focus();
                    $("#number3").val('');
                } else {
                    $("#number1").focus();
                    var val_number1 = $("#number1").val();
                    $("#number1").val('').val(val_number1);
                }
            });

            $("#number3").on("input", function() {
                if ($("#number3").val() != '') {
                    $("#number4").focus();
                    $("#number4").val('');
                } else {
                    $("#number2").focus();
                    var val_number2 = $("#number2").val();
                    $("#number2").val('').val(val_number2);
                }
            });

            $("#number4").on("input", function() {
                if ($("#number4").val() == '') {
                    $("#number3").focus();
                    var val_number3 = $("#number3").val();
                    $("#number3").val('').val(val_number3);
                }
            });

        });
    })();

</script>
<!--{/content_for}-->
