<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <p class="h1">スクールTVの使い方</p>
        </div>
        <div class="main-content">
            <div class="content-frame content-frame-polygon-bg htu-frame">
                <div class="polygon-bg">
                    <img src="/images/background/content-frame-polygon-312.png" alt="" class="img-responsive">
                </div>
                <div class="rabi-balloon-wrapper">
                    <div class="rabi-balloon">
                        <div class="rabi"></div>
                        <div class="balloon">
                            <h1 class="title text-center">いつの間にか学習習慣が身につく新感覚の学習スタイルが登場!</h1>
                            <ul class="list-unstyled">
                                <li class="h4 bold"><p><i class="el-icons el-circle c-yellow "></i> パソコン・タブレット・スマホでいつでも見れる</p></li>
                                <li class="h4 bold"><p><i class="el-icons el-circle c-yellow "></i> 映像と連動したドリルで楽しく学べる</p></li>
                                <p class="h4 bold"><autop><i class="el-icons el-circle c-yellow "></i> 独自の動画構成で飽きずに学習できる</autop></li>
                            </ul>
                            <h4 class="c-blue-light text-center">「勉強が好きになれない」「苦手だからやりたくない」そんな声を受けて登場したのが、スクールTVです。</h4>
                        </div>
                    </div>
                    </div>
                    <!--part 1-->
                    <p class="h2 c-blue-light">動画構成について</p>
                    <p class="h4">スクールTVの学習動画は、最初に再生する1本のみ2部構成になっています。</p>
                    <ul class="list-unstyled row htu-items list-inline">
                        <li class="htu-item col-md-3 col-sm-3 col-xs-12"><img src="images/static-items/OT20_01.png" width="200px" height="113px" class="img-responsive"/></li>
                        <li class="htu-item col-md-3 col-sm-3 col-xs-12"><img src="images/static-items/OT20_02.png" width="200px" height="113px" class="img-responsive"/></li>
                        <li class="htu-item col-md-3 col-sm-3 col-xs-12"><img src="images/static-items/OT20_03.png" width="200px" height="113px" class="img-responsive"/></li>
                        <li class="htu-item col-md-3 col-sm-3 col-xs-12"><img src="images/static-items/OT20_04.png" width="200px" height="113px" class="img-responsive"/></li>
                    </ul>
                    </br>
                    <ul class="htu-detail list-unstyled">
                        <li>
                            <p class="h4">いきなりお勉強に集中するのは難しい。</p>
                            <p class="h4">だからこそ、まずは頭をやわらかくするためにAL動画から始まります。</p>
                            <div class="row"><div class="col-md-1 col-sm-1 text-center"><img src="/images/icons/htu-rabi1.png"/></div><p class="col-md-10 col-sm-10 h4 bold c-green-dark line-height-72">「準備体操みたいだね！」</p></div>
                        </li>
                        <li>
                            <p class="h4">AL動画は最初の1本だけ再生されます。</p>
                            <p class="h4">学習準備ができた2本目の動画からは再生されないのでシッカリお勉強に集中！</p>
                            <div class="row"><div class="col-md-1 col-sm-1 text-center"><img src="/images/icons/htu-rabi2.png"/></div><p class="col-md-10 col-sm-10 h4 bold c-green-dark line-height-72">「がんばるゾ～！」</p></div>
                        </li>
                        <li>
                            <p class="h4">AL動画では、不思議な食べ物や動物、世界の偉人、UFO…など、毎回さまざまなお話が登場します。</p>
                            <div class="row"><div class="col-md-1 col-sm-1 text-center"><img src="/images/icons/htu-rabi3.png"/></div><p class="col-md-10 col-sm-10 h4 bold c-green-dark line-height-72">「どんなお話があるかは見てからのお楽しみ★」</p></div>
                        </li>
                    </ul>
                    <div class="divider dashed"></div>

                    <!--part 2-->
                    </br>
                    <p class="h2 c-blue-light">動画ドリルで腕試し！</p>
                    <p class="h4">動画とドリルが連動しているドリルでは、学習中に講師のお兄さんお姉さんが出した質問を実際に答えて行く事ができます。</p>
                    <ul class="list-unstyled row htu-items list-inline">
                        <li class="htu-item col-md-4 col-sm-4 col-xs-12"><img src="images/static-items/OT20_05.png" width="200" height="200" class="img-responsive"/></li>
                        <li class="htu-item col-md-4 col-sm-4 col-xs-12"><img src="images/static-items/OT20_06.png" width="200" height="200" class="img-responsive"/></li>
                        <li class="htu-item col-md-4 col-sm-4 col-xs-12"><img src="images/static-items/OT20_07.png" width="200" height="200" class="img-responsive"/></li>
                    </ul>
                    <ul class="htu-detail list-unstyled">
                        <li>
                            <div class="row"><div class="col-md-1 col-sm-1 text-center"><img src="/images/icons/htu-rabi4.png"/></div><p class="col-md-10 col-sm-10 h4 bold c-green-dark line-height-72">「時間内に答えられるかな～？」</p></div>
                            <div class="row h4">正解数とタイムでランキングが変わるので、ランキング上位を目指してがんばろう！</div>
                        </li>
                    </ul>

                    <!--part 3-->
                    <div class="divider dashed"></div>
                    </br>
                    <p class="h2 c-blue-light">ラビボタンを使ってみよう！</p>
                    <p class="h4">動画の右側（もしくは下部）にあるのがラビボタンです。</p>
                    <p class="h4">動画を見ている途中、「わかった！」「むずかしい…」など、ボタンと同じ気持ちになったら押してみましょう。</p>
                    </br>
                    <img class="img-responsive" src="/images/icons/htu-rabis.png"/>
                    </br>
                    <ul class="htu-detail list-unstyled">
                        <li>
                            <div class="row"><div class="col-md-1 col-sm-1 text-center"><img src="/images/icons/htu-rabi5.png"/></div><p class="col-md-10 col-sm-10 h4 bold c-green-dark line-height-72">「レッスン中は何度でも押せるよ！」</p></div>
                        </li>
                    </ul>
            </div>
        </div>

    </div>
</div>