<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <p class="h1">資金決済法</p>
        </div>
        <div class="main-content">
            <div class="ot-frame">
                <div class="ot7-page">
                    <table class="table table-bordered container">
                        <tbody>
                            <tr>
                                <td class="td-left">サービス名</td>
                                <td class="td-right">スクールTV</td>
                            </tr>
                            <tr>
                                <td class="td-left">発行事業者</td>
                                <td class="td-right">株式会社イー・ラーニング研究所 大阪府吹田市江坂町1丁目23番38号 F＆Mビル</td>
                            </tr>
                            <tr>
                                <td class="td-left">前払式手段の支払可能金額等</td>
                                <td class="td-right">上限はありません。</td>
                            </tr>
                            <tr>
                                <td class="td-left">有効期限</td>
                                <td class="td-right">1年間。ただし利用者のIDが無効となった場合は、未使用残高は全て失効します。</td>
                            </tr>
                            <tr>
                                <td class="td-left">お問い合わせ先</td>
                                <td class="td-right">お問い合わせメール窓口：school-tv.jp@e-ll.co.jp</td>
                            </tr>
                            <tr>
                                <td class="td-left">利用できる場所</td>
                                <td class="td-right">「スクールTV」サービス内でご利用いただけます。</td>
                            </tr>
                            <tr>
                                <td class="td-left">利用上の注意</td>
                                <td class="td-right">※商品販売後の払い戻しはいたしません。<br>
                                    ※システム障害時やメンテナンス等により、一時的に商品の利用ができない場合があります。<br>
                                    ※商品の利用条件は、各アプリケーション公式サイトならびに利用規約をご確認ください。</td>
                            </tr>
                            <tr>
                                <td class="td-left">未使用残高確認方法</td>
                                <td class="td-right">コイン ：<br>「スクールTV」サービス内で、以下の方法でご確認いただけます。<br>・サイト「ダッシュボード（ドリル）」ー「コイン」</td>
                            </tr>
                            <tr>
                                <td class="td-left">利用規約</td>
                                <td class="td-right">サイト内「メニュー」ー「その他」ー「利用規約」に記載</td>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
