<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <p class="h1">特定商取引法</p>
        </div>
        <div class="main-content">
            <div class="ot-frame">
                <div class="-page">
                    <table class="table table-bordered container">
                        <tbody>
                            <tr>
                                <td class="td-left">事業者名称</td>
                                <td class="td-right">株式会社イー・ラーニング研究所</td>
                            </tr>
                            <tr>
                                <td class="td-left">責任者氏名</td>
                                <td class="td-right">代表取締役 吉田智雄</td>
                            </tr>
                            <tr>
                                <td class="td-left">所在地</td>
                                <td class="td-right">〒564-0063 大阪府吹田市江坂町1丁目23番38号</td>
                            </tr>
                            <tr>
                                <td class="td-left">連絡先</td>
                                <td class="td-right">お問い合わせメール窓口：school-tv.jp@e-ll.co.jp</td>
                            </tr>
                            <tr>
                                <td class="td-left">営業時間・休業日</td>
                                <td class="td-right">9:30~17:30（土日祝日を除く）</td>
                            </tr>
                            <tr>
                                <td class="td-left">販売価格</td>
                                <td class="td-right">スクールTVサイト内の商品ごとに記載されている価格を参照ください。</td>
                            </tr>
                            <tr>
                                <td class="td-left">販売価格以外の費用</td>
                                <td class="td-right">電気通信回線の通信料金（インターネット接続料金を含む）
                                    </br>（お客様がご利用のインターネットプロバイダーなどにお問い合わせください）</td>
                            </tr>
                            <tr>
                                <td class="td-left">代金の支払時期</td>
                                <td class="td-right">コンテンツ提供前</td>
                            </tr>
                            <tr>
                                <td class="td-left">代金の支払方法</td>
                                <td class="td-right">クレジット決済</td>
                             </tr>
                            <tr>
                                <td class="td-left">商品の引渡時期</td>
                                <td class="td-right">お支払手続き完了後、ただちに提供します。</td>
                            </tr>
                            <tr>
                                <td class="td-left">返品について</td>
                                <td class="td-right">コンテンツの返品および交換はできません。</td>
                            </tr>
                            <tr>
                                <td class="td-left">本サービスを利用可能な動作環境</td>
                                <td class="td-right">
                                    <p class="bold">＜PC環境＞</p>
                                    <p class="bold">[OS]</p>
                                    <ul>
                                        <li>Windows Vista / 7 / 8.1</li>
                                    </ul>
                                    <p class="bold">[ブラウザ]</p>
                                    <ul>
                                        <li>Windows版 Internet Explorer9以上（ストア版11除く）</li>
                                        <li>Windows版 GoogleChrome34以上</li>
                                        <li>Windows版 FireFox31以上</li>
                                    </ul>
                                    <p class="bold">[画面解像度]</p>
                                    <ul>
                                        <li>1024×768ピクセル以上</li>
                                    </ul>
                                    <p class="bold">＜タブレット・スマホ環境＞</p>
                                    <p class="bold">[OS]</p>
                                    <ul>
                                        <li>Apple iOS8以上 / Android4以上</li>
                                    </ul>
                                    <p class="bold">[画面サイズ]</p>
                                    <ul>
                                        <li>9.7、10.1､8インチ</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-left">利用条件</td>
                                <td class="td-right">スクールTV内の「利用規約」に記載</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
