 <div class="bg-triangle">
     <div class="container">
         <div class="page-title">
             <p class="h1">FAQ</p>
         </div>
         <div class="main-content">
            <div class="content-frame">
                 <div class="faq-page">
                    <!--about school tv-->
                    <p class="h3 bold mg-bottom-50">スクールTVについて</p>

                    <!--question 1-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">スクールTVはテレビ番組ですか？何時から放映されていますか？</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">スクールTVはインターネットでの動画配信サービスになります。インターネットに接続できる環境があれば、いつでもご覧いただけます。</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="divider dashed"></div>
                    <!--question 2-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">スクールTVを利用するのにお金はかかりますか？月額制ですか？</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">スクールTVは無料でご覧いただけます。</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="divider dashed"></div>
                    <!--question 3-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">動画を見るのにお金がかかったりするのですか？</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">スクールTVは無料でご利用いただけます。</br>
                                        インターネットの利用料金はお客様のご負担となりますので、予めご了承ください。
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="divider dashed"></div>
                    <!--question 4-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">自分の学校がどこの教科書を採用しているのか分からないのですが、どうしたらよいですか？</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">設定画面で自宅郵便番号を入力し、通っている学校を登録する事で自動的に教科書の選択が可能です（公立の場合）。もし教科書の出版社が違う場合は、変更ができます。ログイン後「教科書選択」から変更をお願いいたします。
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="divider dashed"></div>
                    <!--question 5-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">ラビボタンでは何ができるのでしょうか？</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">動画を見ている途中、「わかった！」「むずかしい…」など、ボタンと同じ気持ちになったら押してみてください。レッスン中は何度でも押せます。
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="divider dashed"></div>
                    <!--question 6-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row h4 bold">【保護者向け】</div>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">子どもの切り替えはどうすればよいですか？</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">複数のお子様と紐付いている場合、サイト上部に表示されているお子様の名前の部分から、切り替えが行えます。
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="divider dashed"></div>
                    <!--question 7-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row h4 bold">【保護者向け】</div>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">ドリルを買うにはどうすればよいですか？</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">下記手順で購入する事ができます。</p></br>
                                    <ol class="list-ol">
                                        <li>子どもアカウントでログインし、サイト上部にある「ダッシュボード」ボタンからダッシュボードへ行きます。</li>
                                        <li>ダッシュボードから「ドリルをさがす」ボタンを選択し、欲しいドリルを探してください。</li>
                                        <li>欲しいドリルを選択すると、詳細画面（ドリルトップ）に行きますので、購入ボタンから購入手続きを行ってください。<br>
                                            <small>※ ドリル購入は子どもアカウントでのみ可能です。<br>
                                                ※ 未入手のドリルは購入前にお試しプレイができます。必要なコイン数が表示されているボタンをクリックすると、入手画面に進みます。
                                            </small>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="divider dashed"></div>
                    <!--question 8-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row h4 bold">【保護者向け】</div>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">所持コインの確認はどこからできますか？また、所持コインを追加するにはどうすればよいですか？</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">
                                        <ul class="list-unstyled">
                                            <li><p class="bold">【所持コインの確認】</p>
                                                <p>サイト上部にある「ダッシュボード」ボタンからダッシュボードへ行ってください。「お子さまのコイン」に所持コイン数が表示されています。
                                                </p>
                                            </li>
                                            <li><p class="bold">【所持コインの追加】</p>
                                                <p>下記手順で購入する事ができます。
                                                    <ol class="list-ol">
                                                        <li>サイト上部にある「ダッシュボード」ボタンからダッシュボードへ行きます。</li>
                                                        <li>ダッシュボードから「コインを購入」ボタンを選択します。</br>
                                                            <small>（※ここでも所持コインの確認ができます。）</small>
                                                        </li>
                                                        <li>「購入」ボタンを選択し、クレジットカードで購入します。初めて購入する場合はクレジットカードの情報を入力し、保存してください。保存パスワードを入力しますと、次回から保存パスワードの入力のみで購入できます。<br>
                                                            <small>※分割払いはできません。一括払いのみご利用いただけます。</small><br>
                                                            <small>※システムの都合上、請求日が実際のご購入日前日の日付となる場合があります。</small><br>
                                                            <small>※クレジットのご利用枠、デビット機能の利用条件などにつきましては、カード発行会社とのご契約内容を事前にご確認ください。</small>
                                                        </li>
                                                    </ol>
                                                </p>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="divider dashed"></div>
                    <!--question 9-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">スクールTVを使うためのインターネット環境を教えてください。
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">「スクールTV」では下記の環境を推奨しております。</p>
                                    <!--pc-->
                                    <p class="h5 bold col-md-12">&lt;&nbsp;PC環境&nbsp;&gt;</p>
                                    <ul class="list-children list-unstyled">
                                        <!--os-->
                                        <li>
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 bold">[OS]</div>
                                                <div class="col-md-9 col-sm-9">Windows Vista / 7 / 8.1</div>
                                            </div>
                                        </li>
                                        <!--browser-->
                                        <li>
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 bold">[ブラウザ]</div>
                                                <ul class="list-unstyled col-md-9 col-sm-9">
                                                    <li>Windows版　Internet Explorer9以上（ストア版11除く）</li>
                                                    <li>Windows版　GoogleChrome34以上</li>
                                                    <li>Windows版FireFox31以上</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <!--Screen resolution-->
                                        <li>
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 bold">[画面解像度]</div>
                                                <div class="col-md-9 col-sm-9">1024×768ピクセル以上</div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!--tablet-->
                                    <p class="h5 bold col-md-12">&lt;&nbsp;タブレット・スマホ環境&nbsp;&gt;</p>
                                    <ul class="list-children list-unstyled">
                                        <!--os-->
                                        <li>
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 bold">[OS]</div>
                                                <div class="col-md-9 col-sm-9">Apple iOS8以上 / Android4以上</div>
                                            </div>
                                        </li>
                                        <!--Screen size-->
                                        <li>
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 bold">[画面サイズ]</div>
                                                <div class="col-md-9 col-sm-9">9.7、10.1､8インチ</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="divider dashed"></div>
                    <!--question 10-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">ID（もしくはパスワード）を忘れたのでログインができません。どうしたらよいですか？</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">IDをお忘れの方は<a href="/login/forget_id" target="_blank">コチラ</a>から、ご確認ください。</br>
                                        パスワードをお忘れの方は<a href="/login/forget_password" target="_blank">コチラ</a>から、ご確認ください。
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="divider dashed"></div>
                    <!--question 11-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">アカウントを削除（退会）するにはどうしたらよいですか？</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">退会手続きを行う為にはログインが必要です。</br>
                                        ログイン後、プロフィール編集画面からプロフィールの「編集」ボタンを選択し、「スクールTVを退会する」のリンクから退会手続きを行う事ができます。
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                     <div class="divider dashed"></div>
                     <!--question 12-->
                     <ul class="list-qa list-unstyled">
                         <li>
                             <div class="row">
                                 <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                 <div class="col-md-11 col-sm-10 col-xs-10">
                                     <p class="h4 bold col-md-12">スクールTV Plus（スクールティービー プラス）とは？</p>
                                 </div>
                             </div>
                         </li>

                         <li>
                             <div class="row">
                                 <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                 <div class="col-md-11 col-sm-10 col-xs-10">
                                     <p class="col-md-12">スクールTVの月額会員にご登録いただくと、スクールTV Plusをご利用いただく事ができます。</br>
                                         スクールTV Plusでお使いいただける機能の詳細については <a href="/pay_service/about">スクールTVについて</a> のページをご確認ください。
                                     </p>
                                 </div>
                             </div>
                         </li>
                     </ul>

                    <div class="divider mg-50"></div>

                    <!--school TV drill-->
                    <p class="h3 bold mg-bottom-50">スクールTVドリルについて</p>

                    <!--question 1-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">ドリルは無料で使えますか？</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">有料サービスにつき、購入いただいた方のみご利用いただけます。</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="divider dashed"></div>
                    <!--question 2-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">パワーがなくなってしまいました。もうバトルはできないのでしょうか？</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">トレーニングをする事でパワーを回復させることができます。</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="divider dashed"></div>
                    <!--question 3-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">不具合かもしれません。</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">問題が発生した場合、以下の内容をお試しください。</p></br>
                                    <ol class="list-ol">
                                        <li>一度スクールTVをログアウトし、再度スクールTVにログインし直してください。</li>
                                        <li>PCまたは携帯・タブレットの再起動をお試しください。</br>
                                            上記の方法でも問題が解決しない場合は、お問い合わせにてご連絡ください。
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </li>
                    </ul>

                     <div class="divider dashed"></div>
                     <!--question 4-->
                     <ul class="list-qa list-unstyled">
                         <li>
                             <div class="row">
                                 <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                 <div class="col-md-11 col-sm-10 col-xs-10">
                                     <p class="h4 bold col-md-12">ラビポイントはどうやったら貯められますか？</p>
                                 </div>
                             </div>
                         </li>

                         <li>
                             <div class="row">
                                 <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                 <div class="col-md-11 col-sm-10 col-xs-10">
                                     <p class="col-md-12">ラビポイントはトレーニングやバトルをする事でもらえます。たくさんトレーニングやバトルをして貯めましょう。</p>
                                 </div>
                             </div>
                         </li>
                     </ul>

                    <div class="divider dashed"></div>
                    <!--question 5-->
                    <ul class="list-qa list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-q"><span class="character">Q</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="h4 bold col-md-12">保護者でもドリルをプレイする事ができますか？</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-xs-2"><div class="bg-square bg-a"><span class="character">A</span></div></div>
                                <div class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="col-md-12">保護者の方でもドリルをご利用いただく事は可能です。</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>