<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <p class="h1">利用規約</p>
        </div>
        <div class="main-content">
            <div class="content-frame">
                <div class="rule-page">
                    <h1 class="chapter bold">第1章 一般条項</h1>
                    <section class="sec">
                        <h2 class="sec-title">第 1 条（定義）</h2>
                        <p class0=="sec-description"> 本利用規約で用いる用語は、各条項で定めるものの他、以下の各号に定めるとおりとします。</p>
                        <ol class="list-parent">
                            <li>当社：株式会社イー・ラーニング研究所とその子会社、関連会社または関係会社</li>
                            <li>本サイト：「スクールTV」という名称で当社が運営するウェブサイト（当社が運営する「スクールTV」に関連するサービス提供サイトを含みます）</li>
                            <li>本サービス：本サイトを通じて提供する各サービスの総称</li>
                            <li>利用者：本サイトを閲覧、もしくは本サービスを利用する者（会員を含みます）</li>
                            <li>会員：当社所定の手続にて会員として登録をした者</li>
                            <li>会員向けサービス：本サービスのうち、会員のみが利用できるサービス</li>
                            <li>コンテンツ：本サイト上に掲載される、文章、学校施設・建造物・人物・風景等の画像及び動画、音楽その他一切の情報（講座、コメント等を含みます）</li>
                            <li>講座：コンテンツのうち、「スクールTV」において提供される、映像、音声、写真、各種データ、文書、ソフトウェア等を組み合わせたｅラーニング講座</li>
                            <li>コメント等：コンテンツのうち、利用者により投稿されたもの</li>
                            <li>投稿者等：コメント等を本サイトに投稿する利用者</li>
                            <li>月額会員：月額で利用料金を支払って頂く利用者</li>
                            <li>月額課金：月額有料の会員登録を行い、本サービスにログインできる利用者をさします。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 2 条（総則）</h2>
                        <ol class="list-parent">
                            <li>当社は、本サービスの利用について、以下のとおり、総合利用規約（以下「本規約」といいます）を定めます。</li>
                            <li>本規約は、本サービスに共通に適用されるものとし、利用者が遵守すべき事項を定めたものです。</li>
                            <li>本規約とは別に、サービスごとに定められる個別規約、本規約の下位規約、ルール、ガイドライン、ヘルプなど（総称して以下「その他の利用規約など」といいます）が存在する場合、本規約と一体となって適用され、利用者は、その定めに従うものとします。</li>
                            <li>本規約及びその他の利用規約などに記載されている規定の一部が、法令にもとづいて無効と判断されても、本規約及びその他の利用規約などに記載されているその他の規定は有効とします。</li>
                            <li>本規約及びその他の利用規約などに記載されている規定の一部が、ある利用者との関係で無効とされ、または取り消された場合でも、本規約及びその他の利用規約などに記載されている事項は、他の利用者との関係では有効とします。</li>
                            <li>利用者が本サービスを利用した時点で、本規約に同意したものとみなします。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 3 条（会員資格）</h2>
                        <ol class="list-parent">
                            <li>本規約に同意のうえ、所定の会員登録手続を行った利用者は、所定の登録手続完了後に会員としての資格を有します。</li>
                            <li>会員が退会や抹消などにより、会員資格を喪失した場合、同時に会員向けサービスの利用に関する一切の権利・特典を失うものとし、当社に対して、何らの請求権を取得するものではありません。また、会員は、当社に対し、すでに支払った料金などの返還を求めることはできません。</li>
                            <li>当社は、独自の裁量にもとづき、会員として相応しくないと判断した者に対し、会員向けサービスの全部または一部の利用制限、もしくは本規約にもとづき会員資格を抹消し、強制的に退会させることがあります。</li>
                            <li>会員が会員資格を喪失した際、当社に対する債務を負担していた場合、資格喪失後、ただちに全額を支払うものとします。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 4 条（ログインID及びパスワードの管理）</h2>
                        <ol class="list-parent">
                            <li>会員は、会員登録手続時、及びサービス利用時に登録するログインID及びパスワードの管理責任を負うものとします。</li>
                            <li>会員は、当社指定のホームページから、ログインID及びパスワードを用いることにより、会員向けサービスを利用することができます。会員は、サービス利用以外の目的でログインＩＤ及びパスワードを使用してはならないものとします。</li>
                            <li>当社は、入力されたログインID及びパスワードをもって、会員の本人確認を行います。ログインID及びパスワードが登録されたものと一致することを当社が確認した場合、当該利用が会員本人による利用であるとみなします。</li>
                            <li>会員は、ログインID及びパスワードを第三者に開示、貸与、譲渡、名義変更、売買、質入などいかなる処分もしてはならないものとします。</li>
                            <li>ログインID及びパスワードの管理不十分、使用上の過誤、第三者の使用などにより会員または第三者に損害が生じたとしても、その責任は会員が負うものとし、当社は一切責任を負いません。また、かかる事由により、当社が損害を負った場合には、会員はその一切の責任を負い、当社が被った一切の損害及び損失を賠償ないし補償するものとします。</li>
                            <li>会員は、ログインID及びパスワードの盗用、または第三者による使用を知った場合には、ただちに当社にその旨を連絡するとともに、当社からの指示がある場合には、これに従うものとします。当社は、会員のログインID及びパスワードの漏洩・盗用などに起因して発生した損害につき何らの責任を負いません。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 5 条（届出事項の変更など）</h2>
                        <ol class="list-parent">
                            <li>会員は、会員登録申し込みの際に当社に届け出た事項に変更のあった場合、当社所定の方法により遅滞なく届け出るものとします。会員が法人である場合、合併等により会員の地位が承継された場合、当社に対し、速やかにその旨を通知しなければなりません。</li>
                            <li>前項の変更届出がなされていない場合であっても、当社は、それぞれ適法かつ適正な方法により取得した個人情報その他の情報により、届出事項に変更があると合理的に判断したときは、当該変更内容に係る前項の変更届出があったものとして取り扱うことがあります。なお、会員は、当社の当該取り扱いにつき異議を述べないものとします。</li>
                            <li>第1項の届け出がないために、当社からの通知、送付書類その他の文書が延着または到着しなかった場合であっても、通常到着すべきときに到着したものとみなします。ただし、第1項の変更の届け出を行わなかったことについて、会員にやむを得ない事情がある場合はこの限りではないものとします。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 6 条（退会）</h2>
                        <ol class="list-parent">
                            <li>会員が退会を希望する場合、当社が定める手続に従って届け出るものとし、当社での退会手続終了後、退会となります。なお、退会手続時において、本サービスの受講期間中である場合など、利用中のサービスが存する場合、退会により当該サービスを利用できなくなる場合があります。</li>
                            <li>会員が死亡した場合、その時点で退会したものとみなします。</li>
                            <li>当社は、会員が、次の各号のいずれかに該当する場合、当社の判断にもとづいて、会員を強制的に退会させて、本サービスの利用を拒絶することができます。
                                <ol class="list-children">
                                    <li>当社所定の入会手続によらずに入会の申込みを行ったことが明らかになった場合</li>
                                    <li>本規約及びその他の利用規約などに違反した場合</li>
                                    <li>その他当社が不適切と判断した場合</li>
                                </ol>
                            </li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 7 条（サービスの利用）</h2>
                        <ol class="list-parent">
                            <li>利用者は、本サービスの利用に際して関連するすべての法律・法令などに従うものとします。</li>
                            <li>本サービスを利用する場合、利用者は自らの責任と費用で必要な機器やソフトウェア、通信手段などを準備し、それらを適切に設置、操作するものとします。当社は利用者が本サイトにアクセスし、もしくは本サービスを利用するための準備、方法などについては一切関与しません。</li>
                            <li>当社は利用者が本サービスを利用することを許諾するものであり、本サービスの確実な提供、アクセス結果などにつき何ら保証するものではありません。</li>
                            <li>当社は、提供するサービスの内容により、その倫理性、各種権利保護などのため、さまざまな警告や表示を行うことができ、利用者はこれを理解し従うものとします。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 8 条（サービスの変更など）</h2>
                        <p class="description">本サービスにおいて、事前に利用者に通知することなく、サービスの内容を追加、変更、停止または中止することがあります。当社が、サービスの内容を追加、変更、停止または中止した場合にも、利用者に対しては一切責任を負わないものとします。なお、サービス内容の変更には、利用者のサービスの制約も含みます。</p>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 9 条（サービス提供の停止、中止）</h2>
                        <ol class="list-parent">
                            <li>当社は、次のいずれかに該当する場合には、当該事由が終了するまでの間、本サービスの一部または全部の提供を停止することができます。
                                <ol class="list-children">
                                    <li>本サービスにかかわるシステムの保守または工事等を定期的または緊急に行う場合</li>
                                    <li>本サービスにかかわるシステムに何らかの障害・作動不良等が発生した場合</li>
                                    <li>第一種電気通信事業者またはその他の電気通信事業者の提供する電気通信役務に起因して電気通信サービスの利用が不能になった場合</li>
                                    <li>天災、公共サービス、争議等により本サービスの提供ができなくなった場合</li>
                                    <li>その他本サービスの運用上、または技術的等の事由により、当社が必要と判断した場合</li>
                                </ol>
                            </li>
                            <li>前項の規定にかかわらず、如何なる場合においても、当社は利用者に対して１カ月前に通知することにより、本サービスの一部または全部の提供を中止することができるものとします。</li>
                            <li>前二項に定めるサービスの停止または中止に関し、本規約及びその他の利用規約などに特別の定めがある場合を除き、利用者は、理由の如何を問わず、支払った対価の返還または損害賠償請求など、当社の責任を追及することはできません。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 10 条（サービスの利用制限）</h2>
                        <p class="description">当社は、利用者が本規約及びその他の利用規約などに違反した場合、その他、当社が不適切と判断する場合、利用者による本サービスの利用の一部または全部を制限することができます。</p>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 11 条（サービスの利用料金）</h2>
                        <ol class="list-parent">
                            <li>会員向けサービスは、別途利用料金の定めのあるサービスを除き、無料で会員に提供されます。ただし、当社は利用料金請求の権限を永久に放棄するものではありません。</br>
                            会員向けサービスは、サービスの機能の拡張や内容などの変更により、サービスの一部または全部の利用を、有料サービスへ転換し、または料金を改定する場合があります。ただし、利用者の同意を事前に得ることなく、または、サービスを解約する機会を与えることなく、料金を利用者に請求することはありません。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 12 条（決済方法）</h2>
                        <ol class="list-parent">
                            <li>お支払いは、「クレジットカード」及び今後利用可能になるその他決済をお選びいただけます。</li>
                            <li>支払いおよび決済は、本サービスのオンラインシステムを通じて行われるものとします。</li>
                            <li>本条に定める支払いに決済手数料その他の費用が必要になる場合は、当該手数料その他の費用は、当該会員が負担するものとします。</li>
                            <li>会員が本規約に従って必要な支払いを行わない場合もしくは遅延した場合または本サービスに入力したクレジットカードもしくは金融機関の口座の利用が停止されたことが認められた場合には、当社は、当該会員に通知することなく、当該会員による本サービスの利用を停止することができるものとします。</li>
                            <li>月額課金制での提供の場合、解除の申し出がない限り月額会員の資格を自動更新とします。また、会員は、会員がカード会社との間で別途契約する条件に従うものとします。なお、会員と当該クレジットカード会社などの間で紛争が発生した場合は、当該当事者双方で解決するものとし、当社は一切責任を負いません。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 13 条（著作権及び商標権）</h2>
                        <ol class="list-parent">
                            <li>本サービスにおけるコンテンツその他一切の情報に係る著作権は、当社または当該情報の著作権者に帰属します。利用者は、当該コンテンツ及び一切の情報について、本規約の定めに従ってサービスを利用しうる地位を取得するに留まり、複製、公衆送信、頒布、譲渡、翻案、著作権法第21条から第28条に定める権利、その他の一切の権利を取得するものではありません。</li>
                            <li>本サイトに記載、表示されている当社またはサービス提供会社の会社名・ロゴマークは、各社が商号、商標、商品等表示として権利を有します。利用者は、会社名・ロゴマークを無断で使用してはなりません。</li>
                            <li>本サイトにおいて投稿者等が投稿したコメント等に係る著作権は、当該投稿者等と当社間においては、当該投稿者等に帰属するものとします。ただし、当該投稿者等は、対価の請求をすることなく、自己が投稿したコメント等について、営利目的の有無を問わず以下に定める権利を当社に対して許諾することに予め同意するものとします。
                                <ol class="list-children">
                                    <li>投稿者等が投稿したコメント等の複製、公衆送信、頒布、販売、譲渡、翻案その他の著作権法第21条から第28条に定める権利。</li>
                                    <li>前号に定める権利を当社の委託業者、当社の提携先業者、共同事業運営者及びその他当社が必要と認める者（以下総称して「委託業者等」といいます）に再許諾する権利。</li>
                                    <li>投稿者等は、当社、本サービスの利用者及び委託業者等（以下、本条において「当社等」といいます）に対して、自己が投稿したコメント等に関する著作権法第17条から第20条に定める著作者人格権及び同法第28条に定める原著作者の権利を一切行使しないものとします。なお、著作者人格権及び原著作者の権利を保有する権利者が別に存在して、当該権利者から問い合わせ等がなされた場合、投稿者等は、自己の費用と責任においてこれを解決するものとし、かつ当社等を免責するものとします。</li>
                                </ol>
                            </li>
                            <li>投稿者等は、自己が投稿したコメント等に関する著作権を第三者に譲渡する場合、当該第三者をして本規約及びその他の利用規約などに定める内容に同意させるものとします。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 14 条（財産権）</h2>
                        <ol class="list-parent">
                            <li>本サイトまたは広告中に含まれているコンテンツ、個々の情報（データ）及び情報（データ）の集合体（以下これらを総称して「コンテンツなど」といいます）に関する財産権（著作権法、商標法、意匠法などの知的財産権に関する法令により保護される知的財産権を含み、以下「財産権」といいます）は当社、当社に当該コンテンツなどを提供している提供元（以下「提供元」といいます）、または広告主に帰属しています。</li>
                            <li>利用者は、コンテンツなど（一部または全部を問わず、以下本条において同じ）につき、本規約に従って、本サービス利用の目的の範囲で利用しうる地位を取得するに留まり、コンテンツなどを複製、公開、送信、頒布、譲渡、貸与、翻訳、翻案、使用許諾、転載、再利用してはなりません。また、利用者が本条項に違反した場合、当該コンテンツなどを複製、公開、送信、頒布、譲渡、貸与、翻訳、翻案、使用許諾、転載、再利用物の利用（使用）を当社が差止する権利及びそれらの行為によって利用者が得た利益相当額を当社が請求することができる権利を有することに、利用者は予め同意するものとします。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 15 条（リンク）</h2>
                        <ol class="list-parent">
                            <li>本サイトから当社以外が運営するウェブサイト（以下「他サイト」といいます）へリンクが張られている場合であっても、当社が他サイトの利用や掲載内容などを推奨することを意味するものではなく、また、他サイトまたはその運営者と当社との間に何ら提携関係など特段の関係があることを意味するものではありません。</li>
                            <li>本サイトから、または本サイトへリンクを張っている他サイトは、それぞれ当社とは異なる他サイトの運営者の責任において管理運営されています。従って、他サイトの利用にあたっては他サイトの利用条件に従ってください。当社は、他サイトの内容について何ら保証するものではなく、またその利用に伴う一切の損害について責任を負いません。</li>
                            <li>利用者が、利用者の運営する他サイトから本サイトへリンクを張ったことにより損害を被ったとしても、当社は一切責任を負いません。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 16 条（個人情報などの取り扱い）</h2>
                        <ol class="list-parent">
                            <li>本サービスにおいて、当社が利用者から収集した個人情報の利用目的は以下のとおりとします。
                                <ol class="list-children">
                                    <li>本サービスの提供</li>
                                    <li>利用者からのお問い合わせに対する回答</li>
                                    <li>その他本サービスの運営及び本サービスに関する連絡</li>
                                </ol>
                            </li>
                            <li>当社は、第１項の目的に必要な範囲内で、利用者から収集した個人情報を当社の委託業者、提携先業者及び共同事業運営者等の第三者（以下「委託先等」といいます）に提供することができるものとし、利用者はこれについて予め同意するものとします。</li>
                            <li>当社は、本サービスの提供を終了した場合、利用者から収集した個人情報を消去、廃棄その他法令で定められた適切な処理を行うものとします。</li>
                            <li>上記の他、利用者から収集した個人情報については、当社が運営するウェブサイトに掲載しておりますプライバシーポリシーに基づき取り扱います。なお、下のリンクをクリックすると、プライバシーポリシーが掲載されているサイトに移動できます。<br>
                                プライバシーポリシー：<a href="http://e-ll.co.jp/policy/">http://e-ll.co.jp/policy/</a>
                            </li>
                            <li>本サービスでは、よりよいサービスの提供を目的として、Google Analyticsを用いて本サービスへのアクセス情報を収集しています。このため、一部のページにおいて Google Analyticsから提供されるCookieを使用しています。なお、この情報が、本サービスの会員情報と関連づけられることはありません。また、本サービスを経由してGoogle Analyticsにより収集されたデータはGoogle社のプライバシーポリシーにもとづいて管理されており、当社はGoogle Analyticsのサービス利用による一切の損害について責任を負わないものとします。</li>
                            <li>Google AnalyticsによるCookieの使用に関する説明及びCookieにより収集される情報について詳しくお知りになりたい方は、Google Analyticsのサービス利用規約及びプライバシーポリシーをご確認ください。<br /> Google Analytics利用規約: <a href="http://www.google.com/analytics/terms/jp.html">http://www.google.com/analytics/terms/jp.html</a><br /> Google Analyticsプライバシーに関する概要：<a href="https://www.google.com/intl/ja/analytics/privacyoverview.html">https://www.google.com/intl/ja/analytics/privacyoverview.html</a></li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 17 条（当社に対する補償について）</h2>
                        <p class="description">利用者による本サービスの利用、利用者の本サービスへの接続、利用者の本規約違反、投稿者等によるコメント等の投稿、または利用者による第三者に対する権利侵害に起因または関連して生じたすべてのクレームや請求については、利用者の費用と責任で解決するものとします。また、当該クレームや請求への対応に関連して当社に費用が発生した場合または賠償金などの支払いを行った場合については、利用者は当該費用及び賠償金など（当社が支払った弁護士費用を含みます）を負担するものとします。</p>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 18 条（禁止事項）</h2>
                        <p class="description">本サイトの利用について、利用者の故意・過失を問わず、また、当社のいかなるサービス・機能を利用してなされたかにかかわらず、以下の各項に定める行為、及びそのおそれがあると当社が判断する行為を禁止します。会員が禁止事項に違反した場合、当社は、事前の告知なく、該当箇所の削除や本サイトの利用制限・禁止、強制退会などの利用資格の抹消を行う場合があります。その場合、当該措置に関し、質問・苦情を行うことができません。なお、当該措置に関する当社から利用者に対する通知の有無は、当該削除結果及び利用停止措置の効果に影響は与えません。</p>
                        <ol class="list-parent">
                            <li>反社会的行為
                                <ol class="list-children">
                                    <li>法令または公序良俗に違反する行為</li>
                                    <li>犯罪行為または犯罪行為を予告、関与、助長する行為</li>
                                    <li>虚偽または誤解を招くような内容を含む情報などを掲載、登録するなどの行為</li>
                                    <li>通常利用の範囲を超えてサーバーに負担をかける行為、及びそれを助長するような行為、その他当社サービスの運営・提供または他の利用者による本サービスの利用を妨害し、またはそれらに支障をきたす行為</li>
                                    <li>当社または第三者の知的財産権（特許権、商標権、意匠権、実用新案権、著作権等）、企業秘密などを侵害する行為</li>
                                    <li>当社または第三者の信用もしくは名誉を侵害し、または第三者のプライバシー権、肖像権その他一切の権利を侵害する行為<br /> ※この際、第三者については個人・法人／私人・公人の別を問わず、第三者の特定についてはID、ハンドルネーム、本名、リンクなどの記載形態、手段を問いません。</li>
                                    <li>自殺、自傷行為、薬物乱用などを美化・誘発・助長する恐れのある言葉、その他の表現の掲載行為</li>
                                    <li>ストーキング行為を行うなど方法を問わず、第三者に対する嫌がらせ行為</li>
                                    <li>民族・人種・性別・年齢などによる差別につながる表現の掲載行為</li>
                                </ol>
                            </li>
                            <li>わいせつ・暴力的表現・出会い目的行為
                                <ol class="list-children">
                                    <li>モザイク、ぼかしの有無、美術性にかかわらず、下着姿を含む露出度の高いヌード、胸や臀部などのアップや性器が露出した写真など、その他卑猥と判断される画像・映像（動画）・イラスト・絵画の掲載、及び性行為や性器に該当する言葉、その他猥褻的な表現の掲載行為</li>
                                    <li>暴力的、グロテスクな写真、及びその他一般ユーザーが不快に感じる画像、言葉など、その他の表現の掲載行為</li>
                                    <li>本サービス内での性行為表現、またはそれを意図した表現の掲載行為</li>
                                    <li>リンクを張るなどして、アダルトサイトに誘導する行為</li>
                                    <li>児童買春・ポルノ、無修正ビデオ映像のダウンロードサイトなどへのリンク掲載行為</li>
                                    <li>レビューや日記、その他当社サービスを使ってアダルト関係の商品について紹介する行為</li>
                                    <li>異性との出会いなどを希望、または誘導することが主目的であると当社が判断する一切の行為</li>
                                    <li>その他、未成年者の人格形成などに悪影響を与えると判断される行為 （刺青・未成年者の飲酒、喫煙など）</li>
                                </ol>
                            </li>
                            <li>商業行為
                                <ol class="list-children">
                                    <li>宣伝・告知・勧誘などを目的として、同一趣旨の複数の発信や掲載行為（マルチポスト、スパムメール、チェーンメールなどを含みます）</li>
                                    <li>次に掲げる内容の情報を、掲載または送信する行為
                                        <ol class="list-children">
                                            <li>ねずみ講、チェーンメールなどの第三者を勧誘する内容の情報</li>
                                            <li>アフィリエイトや招待することでポイントなどの利益が発生するサイトへ誘導する情報</li>
                                            <li>情報商材を含む情報</li>
                                        </ol>
                                    </li>
                                    <li>他の利用者の個人情報を収集、蓄積する行為、またはこれらの行為をしようとすること</li>
                                </ol>
                            </li>
                            <li>個人情報掲載行為
                                <ol class="list-children">
                                    <li>本人、第三者の如何を問わず個人のメールアドレス、電話番号、ナンバープレート、金融機関口座番号、クレジットカード情報、住所など個人を特定しうる情報の掲載行為</li>
                                    <li>虚偽の情報（名前、誕生日、メールアドレス、住所などの個人情報を含む）を掲載、登録することで第三者になりすます行為、また、本人に許可を受けた場合であっても、本人以外が登録情報（メールアドレスやパスワードなど）を利用して本サービスを利用する行為</li>
                                </ol>
                            </li>
                            <li>その他
                                <ol class="list-children">
                                    <li>政治活動、宗教活動などの行為</li>
                                    <li>違反行為により利用停止された利用者が再度本サービスを利用する行為</li>
                                    <li>本サービスの一部、または、全部の利用する権利を譲渡する行為</li>
                                    <li>本サービスの一部を利用する権利をもって、現金その他の財物、財産上の利益との交換取引をすること、または交換取引をすることの宣伝・告知・勧誘する行為</li>
                                    <li>アクセス誘導などを目的として、無差別かつ大量にアクセス履歴を残す行為</li>
                                    <li>情報を改ざん・消去する行為、または事実に反する情報を送信・掲示する行為</li>
                                    <li>自分以外の人物を名乗ったり、代表権や代理権がないにもかかわらず会社などの組織を名乗ったり、または他の人物や組織と提携、協力関係にあると偽ったりする行為</li>
                                    <li>本サービスに関わる記載について、無断でコピー、複製、アップロード、掲示、伝送、配布等をする行為</li>
                                    <li>次に掲げる内容をレビューに投稿する行為
                                        <ol class="list-children">
                                            <li>レビュー対象を誹謗中傷する内容の情報</li>
                                            <li>氏名、住所、勤務先、電話番号等個人を特定しうる情報。レビュー対象に関する情報と照らし合わせることで個人を特定しうる場合を含む。</li>
                                            <li>レビュー対象と関係ない内容の情報。</li>
                                            <li>真偽について事実確認が困難な内容や虚偽の内容の情報</li>
                                            <li>その他当社が不適切と判断する内容の情報</li>
                                         </ol>
                                    </li>
                                    <li>その他、当社が合理的な理由にもとづき不適切と判断する行為</li>
                                </ol>
                            </li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 19 条（自己責任の原則）</h2>
                        <ol class="list-parent">
                            <li>利用者は、自身の自己責任において本サービスを利用するものとし、本サービスを利用してなされた一切の行為及びその結果について一切の責任を負うものとします。</li>
                            <li>利用者が本サービスの利用によって第三者に対して損害を与えた場合、利用者は自己の責任と費用をもって解決し、当社に損害を与えることのないものとします。</li>
                            <li>本規約に反した行為、または不正もしくは違法な行為によって当社に損害を与えた場合、当社は利用者に対して損害賠償の請求ができるものとします。</li>
                            <li>利用者は、本サイトにおいて表示される広告やその機能により導かれる第三者のインターネット・サイトにおける､自身の行為（物品取引や情報閲覧など）について、自ら責任を負うものとし、当社は利用者によるこれらの行為、及びその結果について一切の責任及び義務を負いません。</li>
                            <li>投稿者等は、当社が提供する各サービスにコメント等を投稿する場合、投稿者等の意思と責任のもとに投稿、掲示されるものとします。当社は、コメント等の内容の信頼性、真実性、正確性、妥当性、適法性、完全性、第三者の権利を侵害してないことその他一切の性質について何ら保証するものではありません。</li>
                            <li>当社が提供するサービス内で自発的に個人情報やその他の情報を表示した場合（コメントページ内に名前、住所、メールアドレスを書き込んだ場合など）、その情報は他の利用者によって収集され使用される可能性があります。このような場合、当社は一切の責任を負いません。情報の送信・開示は、利用者自身の責任において行うものとします。</li>
                            <li>利用者は、コンテンツの共有・収集・保存・複製その他の利用を行うときは、当該利用方法が関係法規に適合しているかを、自己の責任で判断し確認するものとします。</li>
                            <li>利用者は、インターネットは国境を越えて利用されるものであることを十分理解のうえ、本サービスを利用する国または地域における、オンライン上の行為やコンテンツ及びコメント等の内容の規制を遵守しなければならないものとします。また、利用者は、本サービスを利用する国または地域における著作権、秘密保持、名誉毀損、品位保持等に関する法令に従わなければならないものとします。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 20 条（通知方法）</h2>
                        <ol class="list-parent">
                            <li>当社から会員に対する通知は、本サイトでの公表、電子メールでの送信、書面の送付その他、当社が適当と判断する方法によってなされます。</li>
                            <li>前項に定める当社からの会員に対する通知は、次の各号に定める通知方法によった場合、当該各号に定める時点で会員への通知がなされたものとします。
                                <ol class="list-children">
                                    <li>本サイトでの公表&hellip;当該公表を行った時点</li>
                                    <li>電子メールでの送信&hellip;当該メールが会員の受信メールサーバに到達した時点</li>
                                    <li>書面の送付&hellip;会員に送達された時点。ただし、当社が把握する会員の住所、事務所の所在地などに発送し、転居、不在その他の理由により、会員に送達されなかった場合には、通常送達すべき時に送達されたものとみなします。</li>
                                </ol>
                            </li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 21 条（利用規約違反への対処）</h2>
                        <ol class="list-parent">
                            <li>利用者が、本利用規約に違反し、もしくは違反するおそれのある行為などを発見した場合には、当社所定の連絡窓口まで連絡ください。</li>
                            <li>利用者が本規約またはその他の利用規約などに違反したと認められる場合、及びその他当社が必要と認める場合は、当社は当該利用者に対し以下の措置を講ずることができます。
                                <ol class="list-children">
                                    <li>本規約またはその他の利用規約などに違反する行為等を止め、同様の行為を繰り返さないことを要求すること。</li>
                                    <li>コンテンツの自発的削除・訂正を求めること。</li>
                                    <li>コンテンツの一部または全部を削除し、公開範囲を変更し、または閲覧できない状態（非公開）にすること。</li>
                                    <li>利用者が会員である場合、強制退会処分とすること。</li>
                                    <li>利用停止された利用者の再入会を承諾しないこと。</li>
                                </ol>
                            </li>
                            <li>利用者は、当社が本規約にもとづいて行った本利用規約またはその他の利用規約などに違反する行為等への対処について、異議を申し立てることはできないものとします。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 22 条（当社の損害賠償額の制限）</h2>
                        <ol class="list-parent">
                            <li>当社は、本サービスの提供にあたり、当社の過失にもとづく債務不履行または不法行為に起因して利用者に損害が発生した場合、本規約及びその他の利用規約などに特別の定めがある場合を除き、現実かつ直接の損害に限り賠償するものとします。</li>
                            <li>当社は、前項の規定にかかわらず、当社が本規約及びその他の利用規約などの定めに従って実施した行為の結果発生した損害、その他前項に定める損害を除くあらゆる損害（間接的、付随的、偶発的、派生的、特殊な損害、逸失利益を含みます）に対して、たとえ当社がかかる損害の可能性を事前に通知されていたとしても、責任を負いません。</li>
                            <li>前二項の定めにかかわらず、本規約及びその他の利用規約などに特別の定めがある場合、当該定めに従うものとします。</li>
                            <li>本規約またはその他の利用規約などが消費者契約法第2条第3項の消費者契約に該当する場合には、本規約及びその他の利用規約などのうち、当社の損害賠償責任を完全に免責する条項は適用されないものとします。この場合において、利用者に発生した損害が当社の債務不履行または不法行為にもとづくときは、当社は、当該利用者が直接被った損害を上限として損害賠償責任を負うものとします。ただし、当社に故意または重過失がある場合に限ります。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 23 条（利用者による損害賠償）</h2>
                        <p class="description">利用者は、利用者が本規約、その他の利用規約など及び法令の定めに違反したことにより、当社、他の利用者または第三者に損害を及ぼした場合、当該損害及び費用（弁護士費用を含みます）を賠償する責任を負うものとします。ただし、本規約及びその他の利用規約などに特別の定めがある場合、当該定めに従うものとします。</p>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 24 条（免責）</h2>
                        <ol class="list-parent">
                            <li>当社は、本サイトに掲載するコンテンツについて、その内容の完全性、正確性、有用性、安全性などについては、いかなる保証を行うものでもありません。また、掲載されたコンテンツにもとづいて利用者が下した判断及び起こした行動によりいかなる結果が発生した場合においても、当社はその責を負いません。</li>
                            <li>本サイトに掲載されている商品・キャンペーンなどの情報は、一部に関する情報であって、そのすべてを網羅するものではありません。また、本サイト上のすべての掲載情報は、あくまでも掲載時点における情報であり、本サイトに掲載後、事前に予告することなく名称や内容などの改廃を行う場合や、時間の経過により掲載情報が実際と一致しなくなる場合などがあります。</li>
                            <li>通信回線やコンピュータなどに障害が生じてシステムの中断・遅滞・中止などによって発生した損害、本サイトが改ざんされたことにより生じた損害、データへの不正アクセスにより生じた損害に関しては、当社は一切責任を負いません。</li>
                            <li>当社は、本サイトに掲載される、または本サイトを通じて提供されるコンテンツについて完全性、正確性、有用性、適用性その他いかなる保証もしません。また、本サイト・サーバ・ドメインなどから送られるメール・当社内のコンテンツに、コンピューター・ウィルスなどの有害なものが含まれないことも保証しません。</li>
                            <li>本サイトのアドレスは、事前に予告することなく変更する場合があります。本サイトのアドレス変更により発生するリンク切れなど、表示にかかわる不具合その他一切の影響について、当社はその責を負いません。</li>
                            <li>当社は、利用者が本サービス利用により投稿する情報の監視、保存する義務を負わず、また、未読もしくは未送信のメッセージを利用者または第三者に転送する義務を負いません。情報や容量によっては保存できない場合がありますが、容量の不足、またはデータ、情報の消去、保存不能について、責任または損害賠償責任を負いません。</li>
                            <li>本サイトの利用によって利用者、及び第三者がいかなる損害を受けた場合にも、利用者の責に帰すべき事由に起因して発生した損害に関して、当社は一切損害賠償などの責任を負いません。</li>
                            <li>本サイトの利用によって第三者の故意または過失による介入に起因して発生した損害に関しては一切損害賠償などの責任を負いません。</li>
                            <li>当社は、本規約及びその他の利用規約などに特別の定めがある場合を除き、当社が提供するすべてのサービスについて、当該サービスの変更、停止または中止に伴い、利用者に不利益または損害が発生した場合であっても、当社はその責任を負いません。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 25 条（当社の権限）</h2>
                        <ol class="list-parent">
                            <li>当社は、次に掲げる場合、コンテンツの内容を閲覧したり、保存したり、第三者に開示すること（以下本項において「閲覧等」といいます。）ができるものとします。当社は、それによって生じた損害についても責任を負いません。
                                <ol class="list-children">
                                    <li>当社がコンテンツを投稿・掲載した会員の登録メールアドレス宛に閲覧等の同意を求める電子メールを送信した場合であって、次の各号のいずれかに該当するとき。
                                        <ol class="list-children decimal">
                                            <li>当該会員が閲覧等に同意したとき。</li>
                                            <li>当社が閲覧等の同意を求める電子メールを送信してから7日以内に、これを拒否する旨の当該会員の電子メールでの回答が当社のメールサーバに到達しなかったとき。ただし、緊急やむを得ない事由が生じたときを除きます。</li>
                                        </ol>
                                    </li>
                                    <li>本サービスの技術的不具合の原因を解明し、解消するために必要な場合</li>
                                    <li>裁判所や警察などの公的機関から法令に基づく正式な照会を受けた場合</li>
                                    <li>本規約に違反する行為、またはそのおそれのある行為が行われ、往訪の内容を確認する必要が生じたと当社が判断した場合</li>
                                    <li>人の生命、身体及び財産などに差し迫った危険があり、緊急の必要性があると当社が判断した場合</li>
                                    <li>当社が本サイトを運営するために必要と判断した場合</li>
                                </ol>
                            </li>
                            <li>当社は、次に掲げる場合には、コンテンツの違法性・規約違反の有無に関わらず、関連するコンテンツについて、その全部もしくは一部の削除または公開範囲の変更等の不利益な措置を行うことができるものとします。
                                <ol class="list-children">
                                    <li>人（実在の人物であるか否かを問わず、漫画・アニメ等のキャラクターを含みます）の裸体（着衣の全部または一部を欠くものをいいます）を撮影・描写したコンテンツが掲載された場合。</li>
                                    <li>公的な機関または専門家（国、地方公共団体、特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律のガイドラインに規定された信頼性確認団体、インターネット・ホットラインセンター、弁護士等をいいます）から、コンテンツについて、違法、公序良俗違反または他人の権利を侵害する等の指摘・意見表明があった場合。</li>
                                    <li>権利者と称する者から、コンテンツが自分の権利を侵害する旨の申告があった場合。ただし、権利者と称する者から、権利者であることを合理的に判断できる資料を提示され、当社にて検討した結果、権利者であると当社が判断した場合に限ります。</li>
                                </ol>
                            </li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 26 条（クッキー（cookie）など）</h2>
                        <ol class="list-parent">
                            <li>当社は、利用者のアクセス履歴及び利用状況の調査のため、その他利用者に最適のサービスを提供するために、利用者が当社のサーバーにアクセスする際のＩＰアドレスに関する情報、携帯端末でアクセスした場合には携帯端末の固体識別番号に関する情報、及びクッキーの技術を使用して利用者のアクセス履歴などに関する情報を収集します。</li>
                            <li>利用者がブラウザでクッキーを拒否するための設定を行った場合、本サービスの利用が制限される場合があります。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 27 条（規約の変更など）</h2>
                        <ol class="list-parent">
                            <li>当社は、利用者の承諾なく、また利用者に対して何らの責任を負うことなく、本規約を追加または変更できるものとします。</li>
                            <li>変更後の利用規約は、当社が別途定める場合を除き、本サイト上に表示した時点より効力を生じるものとします。</li>
                            <li>利用者が、利用規約変更の効力が生じた後に、各サービスを利用する場合には、変更後の利用規約に記載されているすべての事項に同意したものとみなします。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 28 条（合意管轄裁判所）</h2>
                        <p class="description">本規約に関して紛争が生じた場合、大阪地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 29 条（準拠法）</h2>
                        <p class="description">本規約の解釈、適用については日本国法を準拠法とします。</p>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 30 条（協議）</h2>
                        <p class="description">本規約及びその他の利用規約などに定めのない事項について疑義が生じた場合には、関係当事者間にて誠意をもって協議し、円満に解決するよう努めるものとします。</p>
                    </section>
                    <!--/chapter 1-->
                    <!--chapter 2-->
                    <h1 class="chapter bold">第2章「スクールTV」サービス利用に関する条項</h1>
                    <section class="sec">
                        <h2 class="sec-title">第 31 条（適用範囲）</h2>
                        <p class="description">本章における定めは、「スクールTV」サービスの利用に関して適用されます。「スクールTV」サービスの利用に関しては、本章の定めの他に、第１章（一般条項）の定めが適用されます。</p>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 32 条（スクールTVサービス）</h2>
                        <ol class="list-parent">
                            <li>「スクールTV」サービスとは、映像、音声、写真、画像、各種のデータ、文書、ソフトウェア等を組み合わせたeラーニング講座を本サイト上で受講することができる無償の会員向けサービスをいいます。</li>
                            <li>「スクールTV」サービスは、ｅラーニングによる学習知識の供与を目的とするものですが、一定の知識、技術、資格などの習得について成果を保証するものではありません。</li>
                            <li>「スクールTV」サービスの利用には、会員登録とは別に、当社が指定する手続が必要です。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 33 条（講座の登録手続）</h2>
                        <ol class="list-parent">
                            <li>会員は、「スクールTV」サービスの登録を希望する場合、受講方法、受講開始日、提供期間、推奨環境、提供元利用規約、その他の注意事項（以下「事前確認事項など」といいます）を確認の上、当社が指定する方法に従って申し込むものとします。</li>
                            <li>受講契約は、前項の申し込みに対して、登録受付が完了した旨の本サイト上の表示、または、電子メール（以下「決済完了通知」といいます）を会員宛に発信した時点で、契約が成立したものとします。受講契約が成立した時点で、前項の事前確認事項などに同意し登録したものとみなします。</li>
                            <li>前項の規定にかかわらず、「スクールTV」サービスの利用に関して不正行為または不適当な行為があった場合、当社は受講契約を取消、解除、その他適切な措置を取ることができるものとします。</li>
                            <li>以下の場合、受講契約が成立している場合であっても、当社は当該契約を取り消す場合があり、会員は、損害賠償請求を含め、異議申立をすることはできず、これを了承します。
                                <ol class="list-children">
                                    <li>本サイトに表示される情報の誤りなどにより、実在しない商品の申し込みを受領した場合</li>
                                    <li>登録申し込み者の個人情報に虚偽の事実が認められた場合</li>
                                </ol>
                            </li>
                            <li>本サイトから外部リンク先の利用に関しては、当社が保証するものではなく、会員が自己の責任において行うものとします。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 34 条（サービス提供の停止、中止）</h2>
                        <p class="description">当社は、本規約第9条に基づき本サービスの提供を停止、または中止することがあります。サービスの提供の停止または中止によって、受講することができなかった期間が連続して3日を超えた場合、当社は、当該停止または中止期間に応じて、講座の受講期間を延長します。ただし、停止または中止が当社の責めに帰する事由によらない場合は、この限りではありません。</p>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 35 条（免責及び保証の否認事項）</h2>
                        <ol class="list-parent">
                            <li>利用者は、以下の内容について理解の上、自身の責任において「スクールTV」サービスを利用するものとし、それらの事由により利用者に損害（直接損害、間接損害、特別損害、付随損害、派生損害、逸失利益を含みますが、それらに限られません）が発生した場合であっても、当社の故意または過失によるものを除き、当社に対して要望、クレーム、要求もしくは損害賠償請求等を一切行わないことを予め承諾するものとします。
                                <ol class="list-children">
                                    <li>「スクールTV」サービスで提供されるあらゆる情報（コンテンツ及びコメント等を含みますが、それらに限られないものとし、以下同様とします）の確実性、正確性、安全性、最新性、有用性、道徳性、適切性、著作権の許諾の有無、及び特定目的への適合性のいずれについても保証するものではありません。なお、当社は利用者からの問い合わせに対して回答または助言を行う場合がありますが、その内容についても本規約及びその他の利用規約などに規定されている内容を超えて保証するものではありません。</li>
                                    <li>利用者の「スクールTV」サービスの利用に起因・関連し、利用者と他の利用者または第三者との間で生じた著作権・商標権等の知的財産権、名誉・信用・プライバシー等の人格的権利その他一切の権利の侵害等に係る問い合わせ、要望、クレーム、要請、要求もしくは損害賠償請求、または、第三者の介入によって生じた同様の損害（以下総称して「問い合わせ等」といいます）が発生したとしても、当社は一切関知しないものとし、利用者は、自己の費用と責任で当該問い合わせ等を解決するものとします。</li>
                                    <li>「スクールTV」サービスの確実な提供（本サービスが中断、中止、廃止されないことを含みます）、コメント等が遅滞なく確実にアップロードされること、及びそれらが消失または破損されないこと、アクセス結果、セキュリティなど、「スクールTV」サービスの品質について一切保証しておりません。また、当社は、第9条により本サービスの提供を停止、中止した場合も含め、「スクールTV」サービスの機能欠陥が原因で利用者へ損失や損害が発生した場合も、一切責任を負いません。</li>
                                    <li>「スクールTV」サービスを運営するために必要な設備（以下「設備」といいます）に蓄積されたコンテンツその他の情報の一部あるいは全部が消失し、または第三者により改ざんされた場合、当該消失または改ざんにより利用者に発生した損害について、当社は一切責任を負いません。</li>
                                    <li>投稿されたコメント等が、著作権、秘密保持、名誉毀損その他の他人の権利を侵害していないこと、公序良俗に反しないこと、及び法令に違反しないことについて、一切保証しません。</li>
                                    <li>投稿者等が投稿したコメント等が第三者に不正使用等をされることにより、投稿者等に発生した損害については、一切責任を負いません。</li>
                                    <li>利用者が著作権・秘密保持・名誉毀損・品位保持及び輸出に関する法令その他法令上の義務に従っていることなど、利用者による「スクールTV」サービスの利用状態について一切保証しません。</li>
                                    <li>利用者が「スクールTV」サービスを利用したこと並びに当社が「スクールTV」サービスの内容を変更、追加、削除または終了したことにより利用者に発生した損害については、当社は一切責任を負いません。</li>
                                    <li>「スクールTV」サービスからリンクされている外部のサイトは、当社が管理するものではありません。従って、当社は、当社の管理外にあるリンク先の外部サイトに関する一切の事項について責任を負いません。また、当社は、利用者がリンク先の外部サイトを利用したことに関連して、利用者に生じた損害（直接損害、間接損害、特別損害、付随損害、派生損害、逸失利益を含みますがそれらに限られません）についても、一切責任を負いません。</li>
                                </ol>
                            </li>
                            <li>当社の、「スクールTV」サービス及びリンク先の電子ファイルもしくは送信ルートに含まれるウイルスまたは外部からの攻撃に対するセキュリティ対策は、その時点における同業他社と同等レベルのものに限られます。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 36 条（投稿者等の責任）</h2>
                        <ol class="list-parent">
                            <li>投稿者等は、本サービスの利用者にコメント等が公開されることに、予め同意するものとします。</li>
                            <li>投稿者等は、自らが投稿したコメント等の返却を受けられないこと及び自らが編集または削除できないことに、予め同意するものとします。</li>
                            <li>投稿者等は、コメント等の題名及び概要説明について、可能な限りコメント等の趣旨に沿ったものとしなければならず、また、他の投稿者等または第三者に分かりやすい内容で投稿しなければならないものとします。</li>
                            <li>投稿者等は、自らが投稿したコメント等は、当該投稿者等が完全かつ瑕疵のない著作権を有し、肖像権、パブリシティ権、第三者の著作権、著作者人格権、商標権その他の権利が含まれないことを、当社に保証するものとします。</li>
                        </ol>
                    </section>

                    <section class="sec">
                        <h2 class="sec-title">第 37 条（当社の権限）</h2>
                        <ol class="list-parent">
                            <li>当社は、投稿者等がコメント等を投稿した際は、本規約及び規約等に反しないことを事前に審査できるものとし、その結果、コメント等の一部または全部を掲載しないことができるものとします。投稿者等は当該審査の結果、コメント等の一部または全部が掲載されなかったことについて、要望、クレーム、要求もしくは損害賠償請求等を一切行わないこととします。</li>
                            <li>当社は、投稿者等が投稿したコメント等が本規約、第19条各号に定める禁止事項に違反すると判断したときは、当社の裁量によりそれらを投稿した投稿者等の承諾を得ることなく、かつその理由を当該投稿者等に説明することなく、当該コメント等の全部または一部の掲載を削除することができるものとします。</li>
                            <li>投稿者等は、投稿したコメント等に対し当社が取った削除措置については、何ら異議を述べないものとします。また、投稿者等は、当社の削除措置により受けた損害の一切について、当社に問い合わせ、要望、クレーム、要求もしくは損害賠償等を行わないことに同意するものとします。</li>
                        </ol>
                    </section>
                    <div class="date text-right">
                        <p>附則</p>
                        <p>2016年　4月　4日　制定</p>
                    </div>
                    <p>サイトご利用にあたって</p>
                    <p>当サイトを快適にご利用いただくため、推奨している動作環境がございます。お使いのパソコンによっては、一部のeラーニング教材がご利用いただけない場合もございますので、あらかじめご確認下さい。</p>
                    <ol class="list-parent">
                        <li>PC環境<br /> OS　　 ：Windows Vista / 7 / 8.1<br /> ブラウザ：Windows版　Internet Explorer9以上（ストア版11除く）<br /> 　　　　　Windows版　GoogleChrome34以上<br /> 　　　　　Windows版　FireFox31以上<br /> 画面解像度1024&times;768以上</li>
                        <li>タブレット環境<br /> OS：Apple iOS8以上 / Android4以上<br /> 画面サイズ：8 / 9.7 / 10.1ｲﾝﾁ</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>