<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <p class="h1">仮登録完了</p>
            <p class="caption">ご登録ありがとうございます。</p>
        </div>
        <div class="content-frame main-content">
            <div class="form-title text-center clearfix">
                <p class="h4">
                    届いたメール内のスタートボタンから<br/>
                    会員登録完了へお進みください
                </p>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-push-3">
                    <a href="/" class="btn btn-gray btn-block">トップへもどる</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--{content_for name="headjs"}-->
<!--{*
リスティング広告、一時的に設置要望
*}-->
<!-- Google Code for &#20307;&#39443;&#30003;&#36796;&#12415; Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 949884515;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "RehECNn_lF0Q46z4xAM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/949884515/?label=RehECNn_lF0Q46z4xAM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<!-- Yahoo Code for your Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var yahoo_conversion_id = 1000307200;
    var yahoo_conversion_label = "X86LCKer2mcQ5eqZowM";
    var yahoo_conversion_value = 0;
    /* ]]> */
</script>
<script type="text/javascript" src="//s.yimg.jp/images/listing/tool/cv/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//b91.yahoo.co.jp/pagead/conversion/1000307200/?value=0&label=X86LCKer2mcQ5eqZowM&guid=ON&script=0&disvt=true"/>
    </div>
</noscript>
<!--{*
ここまで　リスティング広告、一時的に設置要望
*}-->
<!--{/content_for}-->