<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <p class="h1">認証メールの期限切れ</p>
            <p class="caption">認証メールの有効期限が切れています。</p>
        </div>
        <div class="content-frame main-content">
            <form method="post" class="form-horizontal">
                <div class="form-title text-center clearfix">
                    <p class="h4">有効期限が切れました。
                        <br>
                        再度会員登録をお試しください。
                        <br>
                        仮登録後にメールが届きますので、24時間以内に認証を完了させてください。
                    </p>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <a href="/register" class="btn btn-green">会員登録へ</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>