<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <p class="h1">認証メール再送</p>
            <p class="caption">メールアドレス認証メールを再送しました</p>
        </div>
        <div class="content-frame main-content">
            <div class="form-title text-center clearfix">
                <p class="h4">
                    届いたメール内のスタートボタンから<br/>
                    会員登録完了へお進みください
                </p>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <a href="/login" class="btn btn-green">ログイン</a>
                </div>
            </div>
        </div>
    </div>
</div>