<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <p class="h1">認証メール再送</p>
            <p class="caption">メールアドレス認証メールを再送します</p>
        </div>
        <div class="content-frame main-content">
            <form method="post" class="form-horizontal">
                <div class="form-title text-center clearfix">
                    <p class="h4">届いたメール内のスタートボタンから
                        <br>
                        会員登録の完了へお進みください
                    </p>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button class="btn btn-green">認証メールを再送する</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>