<div class="pay-service-about">
    <div class="bg-shining-yellow rabi-balloon-wrapper <!--{if !empty($current_user)}-->higher<!--{/if}-->">
        <div class="bg-inner">
            <div class="container">
                <div class="rabi-balloon">
                    <div class="rabi"></div>
                    <div class="balloon">
                        <h1 class="title text-center">新規会員登録の無料特典は</h1>
                        <img class="center-block img-responsive" src="../images/icons/ic-30-days.png"/>

                        <p class="text-center h2">スクールTV Plus会員になって</br>ずっと楽しくレッスンしよう！
                        </p>
                    </div>
                    <div class="urchin"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-triangle-blue">
        <div class="container">
            <p class="h2 text-center">新規会員登録から30日以内は、月額有料プランが無料！</p>
            <div class="main-content">
                <div class="content-frame">
                    <h3 class="title mt0-sm">新規会員登録の無料特典</h3>
                    <div class="child content-frame">
                        <ul class="abt-list">
                            <li class="item">
                                <p>動画の途中のナビゲーターからなげかけられる質問が、画面上で質問カードとなって表示されます。</p>
                                <div class="row child-content">
                                    <ul class="child-abt-list list-inline list-unstyle">
                                        <li class="child-item col-md-4 col-sm-4 col-xs-12"><img src="../images/static-items/OT20_05.png" width="204" height="151" class="img-responsive"/></li>
                                        <li class="child-item col-md-4 col-sm-4 col-xs-12"><img src="../images/static-items/OT20_06.png" width="204" height="151" class="img-responsive"/></li>
                                        <li class="child-item col-md-4 col-sm-4 col-xs-12"><img src="../images/static-items/OT20_07.png" width="204" height="151" class="img-responsive"/></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">正解した数や、回答までの時間によって点数がもらえ、ランキングに参加できます。</li>
                            <li class="item">スクールTVを利用している他のユーザーと一緒に競争をしながら学べるので、ずっと楽しくレッスンを続ける事ができます。</li>
                        </ul>
                    </div>
                    <p>スクールTV Plus会員になると、月額300円で、制限なしで動画に連動したドリルで遊ぶことができます。</p>
                    <div class="divider dashed"></div>
                    <div class="link col-md-12">
                        <a href="/pay_service/<!--{$user_id|escape|default:''}-->" class="btn-center col-sm-6 col-md-6 btn btn-green">詳しく見る</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
