<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> <i class="icon-clock"></i> 月額会員決済履歴 </h3>
<!-- END PAGE TITLE-->
<div class="margin-bottom-20">
    <button type="button" onclick="history.back();" class="btn btn-lg yellow-lemon btn-icon-lg"><i class="fa fa-arrow-circle-o-left"></i> 戻る</button>
</div>
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-advance table-hover">

                    <tbody>
                        <tr><th width="15%" class="bg-default">ユーザーID</th><td>3</td> </tr>
                        <tr><th width="15%" class="bg-default">ログインID</th><td>Satoru</td> </tr>
                        <tr><th width="15%" class="bg-default">ニックネーム</th><td>さとる</td> </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!--Main table-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="text-center">
                            <!--{include file='partial/pagination.html' config=$pagination}-->
                        </div>

                        <div class="table-container">
                            <table class="table table-striped table-bordered table-hover table-checkable">
                                <thead>
                                <tr role="row" class="heading">
                                    <th class="col-md-4">決済日時</th>
                                    <th class="col-md-8">決済結果／ステータス</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2016/4/11　00:00:00</td>
                                        <td>自動更新：決済完了</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>