<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <p class="h1">アイコン編集</p>
            <p class="caption">好きなアイコンに変更することができます</p>
        </div>

        <div class="main-content">
            <form class="content-frame form-horizontal" method="post">
                <div class="form-group">
                    <div class="row row-edit-avatar">
                        <!--(.col-sm-2.col-xs-4>.radio.radio-img-wrap>label[for="radioAvatar$"]>(div.radio-img>img[src=/images/avatar$.png])+input[type="radio"][id="radioAvatar$"][name="optionsRadios"][value="option$"][checked])*12-->
                        <!--{for $i=1 to $number_avatar step 1}-->
                        <div class="col-sm-3 col-md-2 col-xs-4">
                            <div class="avatar-radio">
                                <label for="radioAvatar<!--{$i}-->">
                                    <span>&nbsp;</span>
                                    <input type="radio" name="avatar" id="radioAvatar<!--{$i}-->" value="<!--{$i}-->" <!--{if $current_avatar == $i}-->checked<!--{/if}-->/>
                                    <img src="/images/avatar/<!--{$i}-->.png" alt="" class="img-responsive">
                                    <img src="/images/avatar_active/<!--{$i}-->.png" alt="" class="img-responsive selected">
                                </label>
                            </div>
                        </div>
                        <!--{/for}-->
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <a href="/setting" class="btn btn-gray btn-block">戻る</a>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-green btn-block">変更する</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
