<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <p class="h1">メールを送信しました</p>
        </div>
        <div class="content-frame main-content">
            <div class="form-title text-center clearfix">
                <p class="h4">
                    届いたメールをご確認の上、<br/>
                    メールアドレスの変更を行って下さい。
                </p>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-push-3">
                    <a href="/" class="btn btn-gray btn-block">トップへもどる</a>
                </div>
            </div>
        </div>
    </div>
</div>