<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <title>Form sample</title>
</head>
<body>

<div class="container">
    <h1>Video Upload</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="InputFile">File input</label>
            <input name="video" type="file" id="InputFile">
            <p class="help-block">Example block-level help text here.</p>
        </div>
        <button type="submit" class="btn btn-submit">Submit</button>
        <a href="/top" class="form-cancel">Cancel</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!--should be unify into one js-->
<script src="/core/third_party/util/sprintf/dist/sprintf.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>

<script src="/core/base/Base.js"></script>
<script src="/core/form/Form.js"></script>

<script type="text/javascript">
    (function () {

        $(document).ready(function () {
            new AppCore.Form({
                el: $('form')
            });
        });
    })();
</script>
</body>
</html>