<div class="play-page play-match-page my-team quest_battle detail_battle">
    <div class="bg-shining-yellow">
        <div class="bg-inner" id="drill-screen">

            <div class="container">
                <div class="content-frame-designed-corner with-ribbon-title">
                    <div class="frame-inner">
                        <div class="layer"></div>
                        <div class="head"></div>
                        <div class="frame-inner">
                            <h1 class="ribbon-img-title">イベントクエスト</h1>
                            <p class="frame-title">チーム名チーム名チーム名</p>

                            <!--time-->
                            <p class="time">残り時間 &nbsp;あと &nbsp;12:12:12</p>

                            <div class="clearfix"></div>

                            <div class="boss">
                                <div class="bg-boss"><img src="/images/play/boss.png" alt="Boss"></div>
                                <div class="progress-wrapper">
                                    <div class="progress">
                                        <div data-percentage="0%" style="width: 50%;" class="progress-bar progress-bar-yellow" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                            <div class="score">56.789</div>
                                        </div>
                                    </div>
                                    <div class="current-power" style="left:100%;">
                                        <div class="num">100.000</div>
                                    </div>

                                </div>
                            </div>

                            <!--list-button-->
                            <ul class="list-btn list-inline text-center">
                                <li><a href="#" class="btn btn-green">イベントクエストトップへ</a></li>
                                <li><a href="#" class="btn btn-green">攻撃スタ〡ト</a></li>
                            </ul>

                            <h3 class="title-boss">チーム名撃履歴</h3>
                            <!--List member-->
                            <ul class="list-member list-unstyled">
                                <li>
                                    <div class="col-left">
                                        <img src="/images/avatar/5.png" class="img-responsive">
                                        <span class="name">あかね</span>
                                        <div class="clearfix"></div>
                                        <p class="desc">タ〡ゲット中学英単語1800レベル 1(400語)</p>
                                    </div>
                                    <div class="col-right">
                                        <p class="time">2016.12.12 12:12</p>
                                        <p class="team-scort">55555555<span class="arow">点</span></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="col-left">
                                        <img src="/images/avatar/5.png" class="img-responsive">
                                        <span class="name">あかね</span>
                                        <div class="clearfix"></div>
                                        <p class="desc">タ〡ゲット中学英単語1800レベル 1(400語)</p>
                                    </div>
                                    <div class="col-right">
                                        <p class="time">2016.12.12 12:12</p>
                                        <p class="team-scort">55555555<span class="arow">点</span></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="col-left">
                                        <img src="/images/avatar/5.png" class="img-responsive">
                                        <span class="name">あかね</span>
                                        <div class="clearfix"></div>
                                        <p class="desc">タ〡ゲット中学英単語1800レベル 1(400語)</p>
                                    </div>
                                    <div class="col-right">
                                        <p class="time">2016.12.12 12:12</p>
                                        <p class="team-scort">55555555<span class="arow">点</span></p>
                                    </div>
                                </li>
                            </ul>

                            <!--button-->
                            <div class="btn-area text-center">
                                <a href="#" class="btn btn-yellow">もっと見</a>
                            </div>
                        </div>
                        <div class="foot"></div>
                    </div>
                </div>

                <hr>

                <div class="text-center">
                    <a href="/play/select_player" class="btn btn-outline back-link">チ〡ムバトルトップへ</a>
                </div>
            </div>

        </div>
    </div>
</div>