<div class="play-page play-match-page my-team quest_battle">
    <div class="bg-shining-yellow">
        <div class="bg-inner" id="drill-screen">

            <div class="container">
                <div class="content-frame-designed-corner with-ribbon-title">
                    <div class="frame-inner">
                        <div class="layer"></div>
                        <div class="head"></div>
                        <div class="frame-inner">
                            <h1 class="ribbon-img-title">イベントクエスト</h1>
                            <p class="frame-title">時間内にボスを倒して<br>ラビポイントをGETしよう!</p>

                            <!--time-->
                            <p class="time">残り時間 &nbsp;あと &nbsp;12:12:12</p>

                            <div class="clearfix"></div>

                            <div class="boss">
                                <div class="bg-boss"><img src="/images/play/boss.png" alt="Boss"></div>
                                <div class="boss-score">
                                    <p>ボススコア : 100000</p>
                                    <p>倒した獲得ポイント : ひとり500ポイント</p>
                                </div>
                                <div class="condition-boss">
                                    参加条件 <br>ボスに攻撃できるドリルは「タ〡ゲット中学英単語1800」シ リ〡ズです
                                </div>
                            </div>

                            <h3 class="title-boss">参加しよう!</h3>
                            <!--list team-->
                            <ul class="friend-list list-unstyled">
                                <li>
                                    <a href="/play/detail_team_battle">
                                        <div class="thumb">
                                            <img src="/images/avatar/3.png" alt="" class="img-responsive avatar">
                                        </div>
                                        <div class="name">
                                            <span class="text">あかね</span>
                                        </div>
                                        <div class="status">
                                            参加可能
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="/play/detail_team_battle">
                                        <div class="thumb">
                                            <img src="/images/avatar/3.png" alt="" class="img-responsive avatar">
                                        </div>
                                        <div class="name">
                                            <span class="text">チ〡ム名チ〡ム名</span>
                                            <span class="id">チームID: 12345</span>
                                        </div>
                                        <div class="score">
                                            <p>クリア!</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/play/detail_team_battle">
                                        <div class="thumb">
                                            <img src="/images/avatar/3.png" alt="" class="img-responsive avatar">
                                        </div>
                                        <div class="name">
                                            <span class="text">チ〡ム名チ〡ム名</span>
                                            <span class="id">チームID: 12345</span>
                                        </div>
                                        <div class="score">
                                            <span>現在</span>
                                            <p>123456 <span class="arow">点</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/play/detail_team_battle">
                                        <div class="thumb">
                                            <img src="/images/avatar/3.png" alt="" class="img-responsive avatar">
                                        </div>
                                        <div class="name">
                                            <span class="text">チ〡ム名チ〡ム名</span>
                                            <span class="id">チームID: 12345</span>
                                        </div>
                                        <div class="status">
                                            参加可能
                                        </div>
                                    </a>
                                </li>

                            </ul>

                        </div>
                        <div class="foot"></div>
                    </div>
                </div>

                <hr>

                <div class="text-center">
                    <a href="/play/select_player" class="btn btn-outline back-link">チ〡ムバトルトップへ</a>
                </div>
            </div>

        </div>
    </div>
</div>