<div class="play-page play-match-page team-play-page">
    <div class="bg-shining-yellow">
        <div class="bg-inner" id="drill-screen">

            <div class="container">
                <div class="content-frame-designed-corner with-ribbon-title">
                    <div class="frame-inner">
                        <div class="layer"></div>
                        <div class="head"></div>
                        <div class="middle">
                            <h1 class="ribbon-img-title">チームでプレイ</h1>
                            <p class="frame-title">チームでドリルのプレイができます!</p>

                            <div class="list-team">
                                <a href="/play/select_team" class="left box">
                                    <p class="title">チームで力を<br>あわせてクエストを<br>クリアしよう</p>
                                    <p class="txt">チームクエスト</p>
                                </a>
                                <a href="/play/team/battle" class="right box">
                                    <p class="title">全国のチームと<br>熱いバトル<</p>
                                    <p class="txt">チームバトル</p>
                                </a>
                            </div>

                            <div class="text-center">
                                <a href="/play/team" class="btn btn-yellow" style="float: normal; width: 100%">ひとりでドリルを遊ぶならこちら</a>
                            </div>
                            <div class="btn-area clearfix">
                                <a href="/play/team" class="btn btn-yellow" style="float: normal; width: 100%">
                                    <span class="type">イベントクエスト開催中!</span>
                                </a>
                            </div>

                        </div>
                        <div class="foot"></div>
                    </div>
                </div>

                <hr>

                <div class="text-center">
                    <a href="/dashboard" class="btn btn-outline back-link">ダッシュボードへ</a>
                </div>
            </div>

        </div>
    </div>
</div>