<!--{content_for name="page_styles"}-->
<!--{/content_for}-->

<!--{content_for name="page_plugins"}-->
<!--{/content_for}-->

<!--{content_for name="page_scripts"}-->
<!--{/content_for}-->



<!-- BEGIN PAGE BAR -->

<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<!-- END PAGE TITLE-->
<h3 class="page-title"> <i class="icon-user-follow"></i> グループに追加 </h3>
<!-- END PAGE TITLE-->
<div class="btn-group btn-group-devided margin-bottom-20">
    <button type="button" onclick="history.back();" class="btn btn-lg yellow-lemon btn-icon-lg"><i class="fa fa-arrow-circle-o-left"></i> 戻る</button>
</div>
<div class="row">
    <div class="col-md-5 col-sm-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-users font-blue-madison"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">家族グループ名</span>
                </div>
                <span class="font-blue-madison bold pull-right" style="margin-top:12px;">ID:100923</span>
            </div>
            <div class="portlet-body">
                <div class="general-item-list">
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic fit-cover" src="/assets/layouts/layout/img/avatar1.jpg">
                                <a href="" class="item-name primary-link">NickLarson | <small>さとる</small></a>
                                <span class="item-label">satoru@mail.com</span>
                            </div>
                            <span class="item-status">
                                <span class="label label-primary"> 親 </span>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic fit-cover" src="/assets/layouts/layout/img/avatar2.jpg">
                                <a href="" class="item-name primary-link">Mark | <small>さとし</small></a>
                                <span class="item-label">satoshi@mail.com</span>
                            </div>
                            <span class="item-status">
                                <span class="label label-warning"> 子 </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-sm-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-user-follow font-blue-madison"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">このグループにユーザーを追加</span>
                </div>
            </div>
            <div class="portlet-body form" style="margin: 20px 0 60px;">
                <form class="form-inline" role="form">
                    <div class="note note-info">
                        <p>追加したいユーザーのメールアドレス・IDを入力してください（いずれか一つは必須）</p>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail22">Eメールアドレス</label>
                        <div class="input-icon">
                            <i class="fa fa-envelope"></i>
                            <input type="email" class="form-control" id="exampleInputEmail22" placeholder="sample@sample.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword42">ID</label>
                        <div>
                            <input type="text" class="form-control" id="exampleInputPassword42" placeholder="ID">
                        </div>
                    </div>
                    <button type="submit" class="btn green"><i class="icon-magnifier font-white"></i> 検索</button>
                </form>
            </div>

            <div class="note note-info">
                <p>追加するユーザーを選択してください</p>
            </div>

            <div class="portlet light" style="background-color: rgba(197, 190, 102, 0.08);">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="dataTables_length" id="sample_1_length" style="margin-bottom: 20px;">
                            <form action="">
                                <label>Show
                                    <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline">
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                </label>
                            </form>
                        </div>
                    </div>
                </div>

                <ul class="general-item-list list-unstyled">
                    <li class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic fit-cover" src="/assets/layouts/layout/img/avatar3.jpg">
                                <a href="" class="item-name primary-link">NickLarson | <small>さとる</small></a>
                                <span class="item-label">satoru@mail.com</span>
                            </div>
                            <span class="item-status" style="margin-top: -7px;">
                                <a href="javascript:;" class="btn btn-icon-only btn-outline blue">
                                    <i class="icon-plus"></i>
                                </a>
                            </span>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic fit-cover" src="/assets/layouts/layout/img/avatar4.jpg">
                                <a href="" class="item-name primary-link">Mark | <small>さとし</small></a>
                                <span class="item-label">satoshi@mail.com</span>
                            </div>
                            <span class="item-status" style="margin-top: -7px;">
                                <a href="javascript:;" class="btn btn-icon-only btn-outline blue">
                                    <i class="icon-plus"></i>
                                </a>
                            </span>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic fit-cover" src="/assets/layouts/layout/img/avatar5.jpg">
                                <a href="" class="item-name primary-link">Mark | <small>さとし</small></a>
                                <span class="item-label">satoshi@mail.com</span>
                            </div>
                            <span class="item-status" style="margin-top: -7px;">
                                <a href="javascript:;" class="btn btn-icon-only btn-outline blue">
                                    <i class="icon-plus"></i>
                                </a>
                            </span>
                        </div>
                    </li>
                </ul>

                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-5 col-sm-5">
                        <div class="dataTables_info" id="sample_3_info" role="status" aria-live="polite" style="margin-top: 20px;">
                            178 件中 1 から 6 を表示
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="dataTables_paginate paging_bootstrap_number pull-right" id="sample_3_paginate">
                            <ul class="pagination" style="visibility: visible;">
                                <li class="prev">
                                    <a href="#" title="Prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li class="active">
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">6</a>
                                </li>
                                <li class="next disabled">
                                    <a href="#" title="Next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>