<!--{*
    now we have no flow of textbook setting from /video/detail page
    this page id unsed
*}-->
<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <p class="h1">教科書の設定が完了しました</p>
        </div>

        <div class="main-content content-frame">
            <div class="form-title text-center clearfix">
                <p class="h4">あなたの教科書に合った動画が表示されます</p>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <a href="/video/detail" class="btn btn-green">動画を見る</a> <br>
                    <!--{if $button == 'on'}-->
                    <a href="/textbook" class="btn btn-green">他の教科もまとめて設定する</a>
                    <!--{/if}-->
                </div>
            </div>
        </div>
    </div>
</div>