<!--{content_for name="page_styles"}-->
<link href="/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css"/>
<link href="/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
<!--{/content_for}-->

<!--{content_for name="page_plugins"}-->
<script src="/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<!--{/content_for}-->
<!--{content_for name="page_scripts"}-->
<script>
    $(document).ready(function() {
        $('#previous').click(function() {
            parent.history.back();
            return false;
        });
        $("#change").click(function () {
            $("#form").submit();
        });
        $("#back").click(function () {
            window.location.href = '/admin/index';
        });
    })
</script>
<!--{/content_for}-->
<!-- BEGIN PAGE HEADER-->

<!-- BEGIN PAGE TITLE-->
<div class="page-title">
    <i class="icon-lock"></i> パスワードの変更
</div>
<!-- END PAGE TITLE-->

<div class="btn-group btn-group-devided margin-bottom-20">
    <a id="previous" class="btn btn-lg yellow-lemon btn-icon-lg"><i class="fa fa-arrow-circle-o-left"></i>戻る</a>
</div>
<!-- END PAGE HEADER-->
<form method="post" id="form" action="/admin/change_password" class="form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light">
                <div class="portlet-title tabbable-line">
                    <div class="caption">
                        <i class="icon-lock font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">パスワードの変更</span>
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="form-body">
                        <div class="block col-md-offset-3 col-lg-offset-2">
                            <label class="form-control-static ml5 mb5">新しいパスワードを入力してください</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-lg-2 control-label">パスワード</label>
                            <div class="col-md-9 col-lg-10 mb15">
                                <input type="password" name="password" id="password" class="form-control" placeholder="パスワード">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-lg-2 control-label">パスワード（確認)</label>
                            <div class="col-md-9 col-lg-10 mb15">
                                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="パスワード（確認）">
                            </div>
                        </div>
                        <div class="form-actions text-right">
                            <button type="button" id="back" class="btn btn-lg grey-salsa">キャンセル</button>
                            <button type="button" id="change"  class="btn btn-lg green">変更</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--{include file="partial/modal/delete_admin.html"}-->