<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <div class="container text-center">
                <p class="h1">IDを再通知する</p>
                <p class="caption">IDをお忘れの場合、登録時のメールアドレスに <br>
                    IDを再通知することができます
                </p>
            </div>
        </div>

        <div class="main-content">
            <div class="content-frame">
                <div class="form-title text-center clearfix">
                    <p class="h4">
                        ID再通知メールを送信しました <br>
                        メールを確認してください
                    </p>
                </div>
                <div class="form-group text-center">
                    <div class="col-sm-6 col-sm-push-3">
                        <div class="row">
                            <a href="/login" class="btn btn-gray btn-block">閉じる</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>