<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <div class="container text-center">
                <p class="h1">パスワードを再設定する</p>

                <p class="caption">パスワードをお忘れの場合、登録時のメールアドレスに <br>
                    パスワード再設定メールを送信することができます
                </p>
            </div>
        </div>
        <div class="main-content">
            <form class="content-frame form-horizontal">
                <div class="form-title text-center clearfix">
                    <p class="h4">パスワード再設定メールを送信しました <br>
                        メールを確認してください</p>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-push-3">
                        <a href="/login" class="btn btn-gray btn-block">閉じる</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
