<div class="bg-triangle">
    <div class="container">
        <div class="page-title">
            <div class="container text-center">
                <p class="h1">パスワードを再設定する</p>
                <p class="caption">新しいパスワードを入力してください</p>
            </div>
        </div>

        <div class="main-content">
            <form class="content-frame form-horizontal" method="post">
                <!--{if isset($errmsg)}-->
                <div class="form-group">
                    <label style="color:red;" class="col-xs-12 text-center control-label"><!--{$errmsg|escape}--></label>
                </div>
                <!--{/if}-->
                <div class="form-group">
                    <label class="col-sm-5 col-md-4 control-label text-left">
                        新しいパスワード
                        <span class="c-green">【必須】</span>
                    </label>

                    <div class="col-sm-7 col-md-8">
                        <input name="password" type="password" class="form-control" placeholder="パスワード">
                        <span class="small">半角英数小文字(a-z、0-9)、8文字以上16文字以内でご入力ください。 <br>
                            「@」「_」「.」「-」などの記号はご利用頂けません。</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 col-md-4 control-label text-left">
                        新しいパスワード（確認）
                        <span class="c-green">【必須】</span>
                    </label>

                    <div class="col-sm-7 col-md-8">
                        <input name="confirm_password" type="password" class="form-control" placeholder="パスワード">
                        <span class="small">もう一度パスワードを入力してください</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-push-3">
                        <div class="row">
                            <button type="submit" class="btn btn-green btn-block">変更</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>